<% render('/base.*') do %>

  <main id="article-content">
    <div class="content">

      <%= render('/partials/breadcrumbs.*') %>

      <%= yield %>

    </div>
  </main>

  <%= render('/spec/partials/footer.*') %>

<% end %>
