[submodule "specifications"]
	path = specifications
	url = git@github.com:pentandra/specifications.git
[submodule "benefit-reports"]
	path = items/company/benefit-reports
	url = git@github.com:pentandra/benefit-reports.git
