#!/usr/bin/env ruby

require 'compass'
require './environment'

Compass.add_project_configuration 'compass/config.rb'

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

preprocess do

  # Creates in-memory tag pages from partial: layouts/tag.html
  def generate_tag_pages
    tag_set(publishing_articles).each do |tag|
      items << Nanoc::Item.new(
        "<%= render('tag',  { :tag => '#{tag}', :semantic_tag => SEMANTIC_TAGS['#{tag}'] }) %>",
        { :title => "Tag: #{tag}", :is_hidden => true, :description => "All posts having to do with the tag '#{tag}'" },
        "/tags/#{tag.to_slug}/",
        :binary => false
      )
    end
  end

  # Creates in-memory author pages from partial: layouts/author.html
  def generate_author_pages
    authors(publishing_articles).each do |author|
      items << Nanoc::Item.new(
        "<%= render('author', :author => '#{author}') %>",
        { :title => "Articles by #{author}", :is_hidden => true },
        "/authors/#{author.to_slug}/",
        :binary => false
      )
    end
  end

  # Creates in-memory blog archive pages from partial:
  # layouts/blog_archive.html
  def generate_blog_archives
    years = publishing_articles.map { |a| a[:created_at].year }.uniq
    years.each do |year|
      items << Nanoc::Item.new(
        "<%= render('blog_archive', :year => #{year}) %>",
        { :title => "Articles from #{year}", :is_hidden => true },
        "/blog/#{year}/",
        :binary => false
      )
    end
  end

  def mark_unpublished_articles_as_hidden
    articles.each do |article|
      if not article[:published] || $include_drafts
        article[:is_hidden] = true
      end
    end
  end

  def mark_javascripts_as_hidden
    items.each do |item|
      if item[:extension] == 'js' then
        item[:is_hidden] = true
      end
    end
  end

  # Includes any custom json-ld contexts for RDF turtle data.
  #
  # Looks for a file called `context.json` in the same directory as the turtle
  # source file, and adds it to the item's metadata under the key `context`.
  def add_custom_jsonld_contexts
    items.each do |item|
      if item[:extension] == 'ttl' then
        context_path = item[:filename].rpartition("/")[0] + "/context.json"
        context = JSON.parse(File.read context_path) if File.exists? context_path
        unless context.nil? then
          item[:context] = context['@context'] unless context['@context'].nil?
          item[:base_uri] = context['@id'] unless context['@id'].nil?
        end
      end
    end
  end

  # We don't want anything nanoc specific in the spec folder, so have to use
  # some trickery to get the information we need for searches.
  def extract_metadata_from_specification_documents
    require 'nokogiri'

    @items.select { |i| i.identifier.start_with?("/spec/") }.each do |item|
      case item[:extension]
      when 'html'
        doc = Nokogiri::HTML(File.open(item[:filename]))
        item[:title] = doc.at_css("title").inner_text
      else
        item[:is_hidden_from_human_search] = true
      end
    end
  end

  mark_unpublished_articles_as_hidden
  mark_javascripts_as_hidden
  generate_tag_pages
  generate_author_pages
  generate_blog_archives
  add_custom_jsonld_contexts
  extract_metadata_from_specification_documents
end

### Compilation Rules ###################################################

compile '/css/partials/_*/' do
  # don't compile partials
end

compile '/css/modules/_*/' do
  # don't compile modules
end

compile '/css/*/' do
  filter :sass, Compass.sass_engine_options

  if $use_minified_css then
    filter :rainpress
  end
end

compile '/static/*/' do
  # don't compile
end

compile '/spec/*', :rep => :jsonld do
  if item[:extension] == 'ttl'
    filter :erb
    filter :rdf_distiller, :in => :ttl, :out => :jsonld
  end
end

compile '/spec/*', :rep => :rdfxml do
  if item[:extension] == 'ttl'
    filter :erb
    filter :rdf_distiller, :in => :ttl, :out => :rdfxml
  end
end

compile '/spec/*' do
  # don't compile spec. This submodule needs to be independent.
end

compile '/js/search-data/' do
  filter :erb
  if $use_minified_js then
    filter :uglify_js
  end
end

compile '/js/*/' do
  if $use_minified_js then
    filter :uglify_js
  end
end

compile '/blog/feed_private/' do
  filter :erb
end

compile '/sitemap/' do
  filter :erb
end

compile '/company/', :rep => :vcard do
  filter :vcard, @config[:vcard]
end

compile '/company/', :rep => :qrcode do
  filter :vcard, @config[:vcard]
  filter :qrcode, :size => 25, :module_size => 2, :color => "#544233"
end

compile '*' do
  if item.binary?
    # don’t filter binary items
  else
    filter :erb

    if item[:extension] == 'markdown'
      filter :kramdown, @config[:kramdown]
    end

    if item[:kind] == 'article' && ($include_drafts or item[:published]) then
      filter :absolutify_local_paths
      layout 'article'
    end

    if $spellcheck then
      filter :spellchecker
    end

#    filter :add_links_to_headers

    layout 'default'

    filter :rubypantsunicode

    if $use_minified_html then
      filter :html5small
    end
  end
end

### Routing Rules ###################################################

route '/static/*' do
  # /static/foo.html/ -> /foo.html
  item.identifier[7..-2]
end

route '/css/partials/_*/' do
  nil
end

route '/css/modules/_*/' do
  nil
end

route '/css/*/' do
  # don't generate a directory like we do for HTML files
  item.identifier.chop + '.css'
end

route '/js/*/' do
  # don't generate a directory like we do for HTML files
  item.identifier.chop + '.js'
end

route '/404/' do
  '/404.html'
end

route '/spec/README/' do
  '/spec/README.md'
end

route '/spec/LICENSE/' do
  '/spec/LICENSE'
end

route '/spec/css/*/' do
  # don't generate a directory like we do for HTML files
  item.identifier.chop + '.' + item[:extension]
end

route '/spec/js/*/' do
  # don't generate a directory like we do for HTML files
  item.identifier.chop + '.js'
end

route '/spec/*', :rep => :jsonld do
  if item[:extension] == 'ttl'
    item.identifier.chop + '.jsonld'
  end
end

route '/spec/*', :rep => :rdfxml do
  if item[:extension] == 'ttl'
    item.identifier.chop + '.rdf'
  end
end

route '/blog/feed_private/' do
  item.identifier + 'index.atom'
end

route '/sitemap/' do
  item.identifier.chop + '.xml'
end

route '/company/', :rep => :vcard do
  item.identifier + 'pentandra.vcf'
end

route '/company/', :rep => :qrcode do
  '/images/pentandra-qrcode.png'
end

route '*' do
  if item.binary? || item[:extension] == 'ttl'
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  elsif item[:kind] == 'article'
    if $include_drafts or item[:published] then
      item.identifier + 'index.html'
    end
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

layout '*', :erb
