#!/usr/bin/env ruby

require 'compass'
require './settings'

Compass.add_project_configuration 'compass/config.rb'

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

preprocess do
  sorted_articles.each do |p|
    if not p[:excerpt] then
      # Extract the excerpt from the body, if not already given explicitly.
      p[:excerpt] = p.raw_content.split("\n\n")[0]
    end

    if p[:excerpt] then
      p[:excerpt] = Nanoc3::Filters::Kramdown.new.run(p[:excerpt])
    end
  end
end

### Routing Rules ###################################################

route '/static/*' do
  # /static/foo.html/ -> /foo.html
  item.identifier[7..-2]
end

route '/css/partials/_*/' do
  # don't output partials, so return nil
  nil
end

route '/css/*/' do
  # don't generate a directory like we do for HTML files
  item.identifier.chop + '.css'
end

route '/js/*/' do
  # don't generate a directory like we do for HTML files
  item.identifier.chop + '.js'
end

route '/404/' do
  '/404.html'
end

route '/feed/' do
  '/private_feed.xml'
end

route '/feed/', :rep => :old_feed do
  '/feed/index.html'
end

route '/posts/*/', :rep => :rss_content do
  nil
end

route '/posts/*/' do
  if $include_drafts or @item[:published] then
    '/posts/' + @item.slug + '/index.html'
  end
end

route '*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

### Compilation Rules ###################################################

compile '/css/partials/_*/' do
  # don't compile partials
end

compile '/css/*/' do
  filter :sass, Compass.sass_engine_options

  if $use_minified_css then
    # compress CSS :)
    filter :rainpress
  end
end

compile '/static/*' do
  # don't compile
end

compile '/js/*/' do
  if $use_minified_js then
    filter :uglifyjs
  end
end

compile '/feed/' do
  filter :erb
end

compile '/feed/', :rep => :old_feed do
  filter :erb
end

compile '/posts/' do
  filter :erb
  layout 'item'
  layout 'default'
end

compile '/posts/*/' do
  if $include_drafts or @item[:published] then
    filter :kramdown
    layout 'post'
    layout 'default'
  end
end

compile '/posts/*/', :rep => :rss_content do
  filter :kramdown
  filter :absolutify # make links/images all absolute for RSS readers
end

compile '*' do
  if item.binary?
    # don’t filter binary items
  else
    filter :erb
    layout 'default'
    filter :rubypants
  end
end

layout '*', :erb
