// This file must be imported before loading html5-boilerplate

// default font-family
$base-font-family: unquote('FunctionProBook');

// less configuration
$less-grid-element: unquote('#container');
$less-font-family: $base-font-family;

// default font-size
$base-font-size: 13px;

// default line-height
$base-line-height: 1.231;

// colors
$pentandra-red: #db1111;
$pentandra-brown: #544233;
$pentandra-white: #ffffff;

$content-background: $pentandra-white;
$page-background: $pentandra-white;
$footer-background: #2a1a0d;
$footer-font-color: $pentandra-white;

$font-color: $pentandra-brown;

$link-color: $pentandra-brown;

$link-hover-color: #000;

$link-active-color: #e50050;

$link-visited-color: $pentandra-brown;

// color for selected text
$selected-font-color: #000;

// bg-color for selected text
$selected-background-color: #ffff9e;
