/* Default Layout: 992px.
 * Gutters: 24px.
 * Outer margins: 48px.
 * Leftover space for scrollbars @1024px: 32px. 
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

$gutter-width: 24px;

#{$less-grid-element} {
  @include grid(10, false); 
  padding: 0 48px;
  margin: 0 auto;
}

h3 {
  font-size: 37px;
}

header {
  height: 111px;
  position: fixed;
  font-size: 18px;

  h1 {
    position: absolute;
  }

  h1 a { 
    background: transparent url('/images/pentandra-logo.png') no-repeat center center;
    @include grid(3, false);
    height: 34px;
    margin-top: 48px;
  }

  div.content {
    @include grid(10, false);
    margin: 0 auto;
  }
}

nav {
  float: right;
  margin-top: 61px;

  li {
    float: left;
    margin-left: 30px;

    a {
      padding-bottom: 3px;
    }
    
    a:hover {
      border-bottom: 2px #fde9e9 solid;
    }
  }
}

#main {

  margin-top: 180px;

  section {
    margin-top: 48px;
    padding-bottom: 20px;
    border-top: 5px solid $pentandra-brown;

    p {
      margin-left: 276px;
    }

    h3 {
      text-transform: uppercase;
    }
  }
}

section#zeugma {
  padding-top: 48px;
  border: 0;

  p {
    font-style: italic;
    font-size: 22px;
  }

  h2 {
    letter-spacing: -1px;
  }

  h2, p {
    @include grid(3, false); 
    padding: 0 0 0 644px;
    margin-left: 0;
  }
  
  #mosaic {
    @include grid(6, false);
    height: 412px;
  }
}

section#ourcompany {
  margin-top: 96px;
  border: 0;

  p {
    @extend .big;
  }
}

section#researchexperience {

  dl {
    @extend .clearfix;
  }

  dt {
    text-align: right;
    text-transform: uppercase;
    @extend .big;
    @include grid(3, false);
    float: left;
    height: $grid-height*2;
    margin-bottom: $grid-height;
  }

  dd {
    float: left;
    margin: 0 0 $grid-height $gutter_width;
    @include grid(4, false);
  }

  figure {
    float: left;
    @include grid(3, false);
    height: $grid-height*2;
    margin: 0 0 $grid-height $gutter_width;
  }

  figure#clarity {
    background: transparent url('/images/clarity.jpg') no-repeat scroll left top;
  }

  figure#context {
    background: transparent url('/images/context.jpg') no-repeat scroll left top;
  }

  figure#collaboration {
    background: transparent url('/images/collaboration.jpg') no-repeat scroll left top;
    height: 120px;
  }
}

section#meetgeungle {
  @extend .clearfix;

  div#geunglelogo {
    @include grid(7, false);
    height: 186px;
    margin: 30px 30px 30px 276px;
  }
}

footer {

  div.content {
    @include grid(10, false); 
    padding: 33px 48px 84px;
    margin: 0 auto;
    @extend .clearfix;
  }

  span#footerlogo {
    background: transparent url('/images/pentandra-logo-reverse.png') no-repeat scroll left top;
    cursor: pointer;
    font-size: 14px;
    padding: 67px 0 0 0;
    @include grid(4, false);
  }

  section {
    margin-left: $gutter_width;
  }

  section#recentthoughts {
    @include grid(4, false);
  }

  section#feelingsocial {
    @include grid(2, false);
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      float: left;
      height: 24px;
    }

    a {
      margin-right: 10px;
    }

    .fb {
      background: transparent url('/images/fb.png') no-repeat center center;
      width: 11px;
    }

    .twitter {
      background: transparent url('/images/twitter.png') no-repeat center center;
      width: 35px;
    }

    .email {
      background: transparent url('/images/email.png') no-repeat top center;
      margin: 3px 10px;
      width: 24px;
    }

    .rss {
      background: transparent url('/images/rss.png') no-repeat center center;
      width: 24px;
      margin: 0;
    }
  }
}
