//
// Default layout - only put styles in here that are layout specific
// Less astute browsers will use this layout, so keep it limited.
//

/* Default Layout: 992px.
 * Gutters: 24px.
 * Outer margins: 48px.
 * Leftover space for scrollbars @1024px: 32px. 
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

$less-outer-margin: 48px;

//
// Block structures

.content {
  @include grid(10); 
  padding: 0 $less-outer-margin;
}

.ext {
  margin-left: -$less-outer-margin;
  margin-right: -$less-outer-margin;
  padding-left: $less-outer-margin;
  padding-right: $less-outer-margin;
}

.bd {
  @include grid(7);
  float: right;

  .aside {
    float: right;
    margin-left: $less-gutter-width;
  }
  
}

.menu3 {
  ul li {
    margin-right: 70px;

    &.last {
      margin-right: 0;
    }
  }
}

.aside {
  @include grid(3);
  float: left;

  // ? move this into the parent class?
  .close {
    text-align: right;
  }
}

.montage {
  .em {
    @include rotate(-90deg);
    @include grid(3); 
    float: right;
    margin: 132px 0 0;
  }
}

.geungle-logo {
    @include grid(7);
    height: 186px;
    background: transparent url('/images/geungle-logo.png') no-repeat scroll center top;
}

.zeugma {
  @include grid(7);
  height: 412px;
  background: transparent url('/images/zeugma.jpg') no-repeat scroll center top;
}

//
// Company
//

article#company {

  p {
    float: none;
    width: auto;
    margin-top: 5px;
  }

  section {
    section {
      @include grid(5);
      float: left;
      margin: 0;

      &:nth-child(even) {
        margin-right: 24px;
      }

      p {
        padding-right: 10px;
      }
    }
  }

  footer {
    background-color: $pentandra-red-shaded;
    margin: 0 (-$less-outer-margin);
    padding: 24px $less-outer-margin;
    color: $pentandra-white;

    a {
      color: $pentandra-white;
    }

    aside {
      float: left;
      @include grid(3);
      margin-left: $less-gutter-width;

      &.social {
        @include grid(4);

      }

      .twitter {
        margin-top: 20px;
      }

      &:first-of-type {
        margin-left: 0;
      }

      figure {
        margin: 0;

        img {
          float: right;
        }

        figcaption {
          float: right;
          clear: both;
        }
      }
    }
  }
}

.fb-like-box {
  background-color: $pentandra-white;
}

section#meettheteam {

  div.wrapper {
    @include grid(4);
    float: left;


  }

  div#teamphoto {
    @include grid(6);
    height: 290px;
    float: right;
    background: transparent url('/images/team-436x290.jpg') no-repeat scroll right bottom;
    margin-top: $grid-height;

    &:hover {
      background-image: url('/images/team-436x290-silly.jpg');
    }
  }

  nav {
    clear: both;
    background-color: $pentandra-brown;
    color: $pentandra-white;
    margin: 0 (-$less-outer-margin);
    padding: 24px $less-outer-margin $less-outer-margin;

    p {
      margin-bottom: 0;
    }

    li {
      width: 33.333%;
      float: left;
      margin-top: 24px;
    }

    a {
      font-family: $bold-font-family, sans-serif;
      color: $pentandra-white;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

section.teammember {

  h3, h4 {
    margin: 0 0 14px;
  }

  div.wrapper {
    width: 232px; // = @include grid(3) - 20px;
    float: right;
    padding-right: 20px;
  }

  aside {
    float: left;
    @include grid(2);
    margin: 12px 0 24px;

    a[href^="mailto"] {
      padding-left: 20px; 
      background: transparent url('/images/email.png') center left scroll no-repeat;
    }

    p {
      margin: 5px 0;
    }
  }

  img {
    float: left;
    width: 150px; // 150 + 2px + 8px borders = grid(2) or 160px
    height: 150px;
    border: solid $pentandra-brown;
    border-width: 11px;
  }
}


//
// Blog styling
//

div.excerpt {

  border-top: 1px solid $pentandra-brown;
  
  article {

    @include grid(7);
    float: right;
    position: relative;

    h2 {
      text-transform: uppercase;
    }

    time {
      @include grid(3);
      position: absolute;
      top: 0;
      margin-left: -(252px + $less-gutter-width);
      margin-top: $grid-height/2;
    }

    aside {
      float: right;
      margin-bottom: $grid-height/4;
    }
  }
}

article.post {
  margin: $grid-height 0 $grid-height/2;
  @include grid(7);
  float: right;

  small {
    text-transform: uppercase;
  }

  img {
    float: right;
    margin: $less-gutter-width;
    margin-right: 0;
  }

  &:p:last-child:after {
    content: "\25C2";
    padding-left: 10px;
    position: relative;
  }
}

aside.postmeta {
  @include grid(3);
  float: left;
}

#blogmeta {
  margin: $grid-height 0;
  border-top: 3px solid $pentandra-brown;


  div {
    @extend nav;
    float: right;
    @include grid(3);
    margin-left: $less-gutter-width;
  }

  div.tags {
    @include grid(4);
    
    a {
      padding: 2px 5px;
      font-size: 12px;
      margin-right: 4px;
    }
  }

  div.archives {
    margin-left: 0;
  }

  div.authors {
    text-align: right;
  }
}

div.tags {
  li {
    float: left;
  }
}

article#research {
  
  div#researchprocess {
    background: transparent url('/images/research-process.png') no-repeat 0 0;
    height: 133.33333px;
  }

  aside {
//    @extend .clearfix;
  }
}

//
// Footer
//

.contentinfo {

  .inner {
    @include grid(5);
  }
}
