//
// Global style definitions
// Less astute browsers will use this layout, so keep it limited.
//


@include selection-color($selected-font-color, $selected-background-color);

//
// Default HTML Styles

h1 {
  @extend .huge; 
}

h2  {
  @extend .large; 
}

h3 {
  @extend .bigger;
}

h4 {
  @extend .big; 
}

h5 {
  @extend .small;
}

#{headings(1,3)} {
  text-transform: uppercase;
}

h1.large {
  margin-top: $base-line-height;
}

h3.close {
  line-height: 29px;
}

h3.flush {
  line-height: 20px;
  margin-bottom: 32px;
}

h4.small {
  margin-bottom: $base-line-height * 0.25;
}

hgroup {
  h4 {
    margin: 0;
  }
}

.normal.flush {
  $height: 13px;
  line-height: $height;
}

.small.flush {
  $height: 11px;
  line-height: $height;
  margin-bottom: $base-line-height - $height;
}

small {
  @extend .small; 
}

body {
  @extend .normal;
  font-family: $base-font-family,sans-serif;
  background: $page-background;
  color: $font-color;
  text-rendering: optimizeLegibility;
}

a {

  &:hover {
    text-decoration: underline;
  }
}

address {
  font-style: normal;
}

address, p {
  margin-bottom: $base-line-height;
}

.bq { // blockquote

  padding: $base-line-height*1.5;

  blockquote { 
    margin: 0; 
  }

}

em, .em {
  font-family: $oblique-font-family, sans-serif;
  font-weight: normal;
  font-style: normal;

  cite {
    font-family: $base-font-family, sans-serif;
    font-style: normal;
  }
}

ul {
  list-style-type: square;
}

.bold {
  font-family: $bold-font-family, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.special, .oldstyle {
  font-family: $special-font-family, serif;
  font-weight: normal;
  font-style: normal;
}

.newthought {
  @extend .special;
}

.footnotes {
  @extend .small;
}

a.permalink {
  color: desaturate(lighten($link-color, 50%), 20%);

  &:hover {
    text-decoration: none;
  }
}

//
// Classes


// Block Structures

.mod {
  margin-top: $base-line-height / 2;
  margin-bottom: $base-line-height / 2;
}

.pod {
  padding-left: $less-gutter-width / 2;
  padding-right: $less-gutter-width / 2;
  @include box-sizing(border-box);
}

.mmod { //TODO fix
  margin-top: $base-line-height / 4;
  margin-bottom: $base-line-height / 4;
}

.section {
  @extend .group;
  margin: 0 0 $base-line-height;
}

.basic {
  @include border-radius($default-radius);
}

.bd, .aside {
  @extend .group;
}

.loud {
  padding: $base-line-height * 2 0;
}


// Block Skins

.simple {
  border: 1px solid $pentandra-brown;
}

.noted {
  $border-height: 1px;
  border-top: $border-height solid $pentandra-brown;

  h2 {
    margin: $base-line-height - $border-height 0 $base-line-height * 2;
  }

  h2.bigger {
    margin-bottom: $base-line-height / 2;
  }

}

.pop {
  $border-height: 3px;
  border-top: $border-height solid $pentandra-brown;

  // header
  .big {
    $margin: $base-line-height * 0.75;
    margin: $margin - $border-height 0 $margin;
  }
}

.meta {
  $border-height: 1px;
  border-bottom: $border-height solid $pentandra-brown;
  margin-bottom: 0 - $border-height;
}


.photo {
  $border-width: 11px;
  $photo-width: 160px;

  border: $border-width solid $pentandra-brown;
  width: $photo-width;
  margin-bottom: ($base-line-height * 7) - $photo-width;
  @include box-sizing(border-box);
}

// Content classes

a.button, .tags a {

  text-align: center;
  @include pie;

  color: $pentandra-white;
  background-color: $pentandra-brown;

  &:hover, &:focus {
   background-color: $pentandra-red;
  }

  &:hover {
   text-decoration: none;
  }
}

a.button {
  font-size: $base-font-size - 1;
  line-height: $base-line-height * 2;
  display: block;

  @include border-radius($default-radius);
}

.tags {
  $tag-height: 20px; //$base-line-height * 0.8;
  $tag-space: 10px;
  $hole-diameter: 4px;

  li, a {

    float: left;
    position: relative;

    height: $tag-height;
    line-height: $tag-height;
    font-size: 13px;
  }

  a {
    padding: 0 $tag-space + $hole-diameter 0 $tag-space;
    margin-right: $tag-space * 1.25;
    @include border-left-radius($default-radius / 2);

    &:hover, &:focus {
      &:before {
        border-color: transparent transparent transparent $pentandra-red;
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: -$tag-space;
      width: 0;
      height: 0;
      border-color: transparent transparent transparent $pentandra-brown;
      border-style: solid;
      border-width: $tag-space 0 $tag-space $tag-space;
    }

    &:after {
      content: "";
      position: absolute;
      top: $hole-diameter * 2;
      right: 0;
      width: $hole-diameter;
      height: $hole-diameter;
      background: $pentandra-white;
      @include border-radius(2px);
    }
  }

  li {
    margin: ($base-line-height - $tag-height) / 2 0;
  }
}

.sp a {
  margin-right: 6px;
}

.holder {
  position: relative;
}

.img {

  img {
    display: block;
  }
}

.menu {
  li {
    float: left;
  }
}

.sidenote {

  font-family: $oblique-font-family, sans-serif;
  font-style: normal;

  .em {
    font-family: $base-font-family, sans-serif;
    font-style: normal;
  }
}

.parenthesis {
  position: relative;
  font-size: 92%;
}

.tel .parenthesis {
  top: -0.15em;
}

.ndash {
  position: relative;
  top: -0.1em;
}

.big .ndash {
  margin: 0 -0.07em;
}
    
.up {
  text-transform: uppercase;
}

.low {
  text-transform: lowercase;
}

//
// Background blocks

.excl {
  color: $pentandra-red;
}

.rev, .grab {

  a {
    text-decoration: underline;

    &:visited {
      color: $pentandra-white;
    }
  }

  .wrapper {
    padding-top: $base-line-height;
  }

}

.rev, .rev a {
  background-color: $pentandra-brown;
  color: $pentandra-white;
}

.grab, .grab a {
  background-color: $pentandra-red-shaded;
  color: $pentandra-white;
}

.rev a.button {

  color: $pentandra-brown;
  background-color: $pentandra-white;
  text-decoration: none;

  &:hover, &:focus {
    color: $pentandra-white;
    background-color: $pentandra-red;
  }
}

.shadow {
  @include single-box-shadow($pentandra-brown, 0, 0, 10px);
}


//
// Grid classes

.item { // List semantics
  float: left;
}

.apart {
  padding-right: $less-gutter-width;
}

.expo {

  height: $base-line-height * 5;

  li {
    padding-right: $less-gutter-width;
  }

  img {
    @include grid(1);
  }
}

//
// Layout classes

.content {
  @extend .group;
  margin: 0 auto;
}

// A typographic float. Use for images in a blog post.
.float {
  float: left;
}

[role="banner"] {

  background-color: $pentandra-white;
  margin-top: $base-line-height * 2;

  h1 {
    margin: 0;
  }

  .logo {
    float: left;
  }

  .menu {
    float: right;
  }

  a.button {
    color: $pentandra-brown;
    background-color: $pentandra-white;
    font-size: $base-font-size;
    line-height: $base-line-height * 1.5;
    padding: 0 15px;

    &:hover {
      background-color: $pentandra-red;
      color: $pentandra-white;
    }
  }
}

.contentinfo {

  a {
    text-decoration: none;
  }

  article h3 {
    margin-bottom: $base-line-height;
  }

  .content {
    // Introduce some syncopation
    padding-top: $base-line-height * 1.5;
    padding-bottom: $base-line-height * 3.5;
  }

  .bd .aside {
    @include grid(2);
  }

  .menu ul li {
    margin-left: 19px; // Can we come up with a generic centering thing?

    &:first-child {
      margin-left: 0;
    }
  }
}

.main {
  border-top: $base-line-height * 1.5 solid $pentandra-brown;
}

.motto {

  p {
    font-size: 20px;
  }

  h1 {

    // Group the lines of the motto closer together
    line-height: 45px;
    margin-bottom: 21px; // Get back on the baseline

    // Line up words along column
    .char1 {
      margin-left: -4px;
    }

    // Kerning
    .word1 .char4, .word2 .char5 {
      margin-left: 2px;
    }

    .word2 .char8 {
      margin-left: 1px;
    }

    // Shape the heading
    .word1 {
      letter-spacing: 3px; // Draw attention to BREAKING
    }
  }
}

.teammember {
  $photo-height: 160px;
  $social-button-height: 32px;
  $photo-margin: $base-line-height / 4;
  $excess: ($base-line-height * 8) - ($photo-height + $social-button-height);

  .aside {
    margin-bottom: $excess - $photo-margin;
  }

  .photo {
    margin-bottom: $photo-margin;
  }
}

.post {

  .img {
    margin-bottom: $base-line-height;
  }

  .conclusion:after {
    content: "\E000";
    font-family: $special-font-family;
    margin-left: 0.5em;
    position: relative;
  }
}

#vcard {
  padding-bottom: 3px; // Get back onto baseline. Based on 186px² qrcode.
}

//
// Social classes
//

.fb-like-box {
  background-color: $pentandra-white;
}

.social-tw, .social-fb {
  margin-bottom: 13px;
}

.sharrre { 

  .button {
    height: $base-line-height;
  }

}

//
// Comments overrides
//

.comments {
  font-family: sans-serif;
}

#livefyre {
  min-width: 252px;
}
