@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

// Global style definitions

h1 {
  @extend .huge; 
  margin: 0;
}

h2 {
  @extend .large; 
  font-weight: normal;
  margin: 0;
  padding: 24px 0;
}

h3 {
  @extend .bigger;
  font-weight: normal;
}

h4 {
  @extend .big; 
  font-weight: normal;
}

h5 {
  margin: 0 0 6px;
  text-transform: uppercase;
  @extend .small;
}

small {
  @extend .small; }

body {
  font-family: $base-font-family,sans-serif;
  background: $page-background;
  color: $font-color;
}

// Selection colors (easy to forget)
// @include selection-color(unquote("rgb(255,255,158)"));

#{$less-grid-element} {
  background: $content-background;
  margin: 0 auto;
}

header {

  position: absolute;
  z-index: 999; 
  height: $grid-height*3 - 33px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $pentandra-white;
  @include box-shadow($pentandra-brown 0 0 4px);
  border-bottom: 33px solid $pentandra-brown;

}

a.button {
  
  background-color: $pentandra-brown;
  font-size: 17px;
  height: $grid-height;
  line-height: $grid-height;
  text-align: center;
  color: $pentandra-white;
  cursor: pointer;
  float: left;
  margin-top: 6px;
  @include grid(3);
  @include border-radius(12px, 12px);
  
  em {
    font-weight: bold;
    font-style: normal;
  }

  &:hover {
    background-color: #6e5643;
  }

  &:focus {
    background-color: $pentandra-red;
  }

  &:visited {
    color: $pentandra-white;
  }

}

section#zeugma {

  h2 {
    color: $pentandra-red;
    text-transform: uppercase;
  }

  #mosaic {
    background: transparent url('/images/zeugma.jpg') no-repeat scroll left top;
    position: absolute;
  }

}

section#meetgeungle {
  div#geunglelogo {
    background: transparent url('/images/geungle-logo_3col.png') no-repeat scroll center top;
  }
}

footer {
  background: $footer-background;
  color: $footer-font-color;
  position: absolute;
  width: 100%;
  left: 0;

  span, section {
    float: left;
  }

  div.content {
    background-color: $footer-background;
  }
}
