/* Mobile Layout: 320px.
 * Gutters: 24px.
 * Outer margins: 34px.
 * Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

$less-outer-margin: 34px;

@media only screen and (max-width: 767px) {

  .content {
    @include grid(3); 
    padding: 0 $less-outer-margin;
  } 

  .ext {
    margin-left: -$less-outer-margin;
    margin-right: -$less-outer-margin;
    padding-left: $less-outer-margin;
    padding-right: $less-outer-margin;
  }

  .bd {
    @include grid(3);
    float: none;

    .aside {
      float: none;
      margin-left: 0;

      &.banner {
        margin-right: -$less-outer-margin;
        padding-right: $less-outer-margin;
      }
    }

    .inner {
      @include grid(3);
    }
  }

  .aside {
    float: none;

    .banner {
      margin-left: -$less-outer-margin;
      padding-left: $less-outer-margin;
    }
  }

  .img img {
    margin: 0 auto;
  }

  // Grid classes

  .bl {
    @include grid(3);

    &.ock {
      margin-left: 0;
    }
  }

  //
  // Layout classes

  .montage {

    .aside {
      float: none;
    }

    .bd {
      float: none;
    }
  }

  .teamintro {
    @include grid(3);
  }

  .theteam {
    @include grid(3);
    height: 168px;
    background-image: url('/images/team-252x168.jpg');
    position: static;

    &:hover {
      background-image: url('/images/team-252x168-silly.jpg');
    }

  }


  //
  // Background-image classes
  
  .zeugma {
    @include grid(3);
    height: 197px;
    background-image: url('/images/zeugma_3col.jpg');
  }
    
  .geungle-logo {
    @include grid(3);
    height: 76px;
    background-image: url('/images/geungle-logo_3col.png');
  }

}
