.gigantic {
	font-size: 123px;
	line-height: $base-line-height * 5.5; // 132px
	letter-spacing: -2px;
  margin: $base-line-height * 2.25 0;
}

.huge, h1 {
	font-size: 76px;
	line-height: $base-line-height * 3.5; // 84px
	letter-spacing: -1px;
  margin: $base-line-height * 1.75 0;
}

.large, h2 {
	font-size: 47px;
	line-height: $base-line-height * 2; // 48px
	letter-spacing: normal;
  margin-bottom: $base-line-height;
}

.bigger, h3 {
	font-size: 29px;
	line-height: $base-line-height * 1.5; // 36px
	letter-spacing: normal;
  margin-bottom: $base-line-height * 1.5;
}

.big, h4 {
	font-size: 25px;
	line-height: $base-line-height * 1.25; // 30px (4:5 incremental leading)
	letter-spacing: normal;
  margin-bottom: $base-line-height * 1.25;
  //margin: 0 0 $base-line-height * 2 - ($base-line-height * 1.25);
}

.normal {
  font-size: $base-font-size;  // 18px
  line-height: $base-line-height; // 26px
	letter-spacing: normal;
}

.small, h5 {
	font-size: 14px;
	line-height: $base-line-height * 0.75; // 18px (5:4 incremental leading)
	letter-spacing: normal;
}

//
// Kerning
//

#ourvalues h2 .char6 {
  margin-left: -4px;
}

.teamintro h1 {
  .char2 {
    margin-left: -3px;
  }

  .char12 {
    margin-left: 1px;
  }
}

#meetgeungle h2 .char2 {
  margin-left: -3px;
}

