/* Wide Mobile Layout: 480px.
 * Gutters: 24px.
 * Outer margins: 22px.
 * Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

$less-outer-margin: 22px;

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .content {
    @include grid(5); 
    padding: 0 $less-outer-margin;
  } 

  .menu2 {

    ul li {
      width: (436px - $less-gutter-width) / 2;
      float: left;

      &:nth-child(even) {
        margin-left: $less-gutter-width;
      }
    }
  }
}
