/* Wide Mobile Layout: 480px.
 * Gutters: 24px.
 * Outer margins: 22px.
 * Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

$less-outer-margin: 22px;

@media only screen and (min-width: 480px) and (max-width: 767px) {

  .content {
    @include grid(5); 
    padding: 0 $less-outer-margin;
  } 

  .ext {
    margin-left: -$less-outer-margin;
    margin-right: -$less-outer-margin;
    padding-left: $less-outer-margin;
    padding-right: $less-outer-margin;
  }

  .banner {
    margin-right: -$less-outer-margin;
    padding-right: $less-outer-margin;
    margin-left: -($less-gutter-width + $less-column-width);
    padding-left: $less-gutter-width + $less-column-width;
  }

  .aside {

    .banner {
      margin-left: -$less-outer-margin;
      padding-left: $less-outer-margin;
    }
  }

  .menu2 {

    ul li {
      width: (436px - $less-gutter-width) / 2;
      float: left;

      &:nth-child(even) {
        margin-left: $less-gutter-width;
      }
    }
  }

  .bl {

    .aside {
      float: left;
    }

    .bd {
      float: right;
    }
  }

  .newline {
    display: inline;
  }

  .img .static {
    width: auto;
    max-width: 436px;
  }

  //
  // Layout classes

  .motto {

    h1 {
      float: right;
      @include grid(3);
      margin-top: 0;
    }

    p {
      float: left;
      @include grid(2);
      text-align: right;
      margin-top: 5px;
    }
  }

  .theteam {
    $theteam-height: $base-line-height * 12;
    $theteam-image-height: 290px;
    @include grid(5);
    height: $theteam-image-height;
    margin-top: $theteam-height - $theteam-image-height;
    background-image: url('/images/team-436x580.jpg');
    background-position: 0 0;

    &:hover {
      background-position: 0 #{-$theteam-image-height};
    }
  }

  [role="banner"] {
    .menu {
      margin-left: -$less-outer-margin;
      margin-right: -$less-outer-margin;
      padding: 0 $less-outer-margin;
    }
  }

  // Hide icon labels
  .icons .normal {
    display: none;
  }
    
  .contentinfo {

    .bd {
      
      .aside {
        @include grid(2);
        float: right;
      }

      .inner {
        @include grid(3);
      }
    }
  }


  //
  // Background-image classes

  .geungle-logo {
    @include grid(5);
    height: 130px;
    background-image: url('/images/geungle-logo.png');
    background-size: 100%;
  }

  .logo {
    @include grid(5);
    height: 58px;
    background-image: url('/images/pentandra-logo_436x58.png');
  }

  .rev .logo, .grab .logo {
    background-image: url('/images/pentandra-logo-reverse_436x58.png');
  }

  .process {
    @include grid(5);
    height: 328px;
    background-image: url('/images/research-process_3col@2x.png');
    background-size: auto 100%;
  }

  .question {

    &:before {
      left: 125px;
    }
  }

  .zeugma {
    @include grid(5);
    height: 412px;
    background-image: url('/images/zeugma.jpg?v2');
    background-size: 100%;
  }
}
