--- 
title: Blog
description: A collection of our thoughts about Pentandra and the future of research.
---
<div class="group" about="#blog" property="schema:isPartOf" resource="pentandra-website:website" typeof="schema:Blog sioct:Weblog">

  <h1 property="schema:name sioc:name"><%= @config[:blog][:title] %></h1>

  <% published_articles.each do |article| %>
    <%= render('/blog/partials/summary.*', item: article) %>
  <% end %>

</div>
