--- 
title: Blog
---

<section>
  <h2>Our Thoughts</h2>
</section>

<% @site.sorted_articles[0, $recent_posts_limit].each do |post| %>
<section class="post">
  <h3><%= link_to(post[:title], post.path) %></h3>
  
  <div class="details">
    <h4><%= post[:created_at] %></h4>
    <h5><%= post[:author_name] %></h5>
  </div>
  
  <div class="excerpt">
    <%= post[:excerpt] %>
  </div>

  <p>
    <%= tags_for(post, :separator => "") %>
  </p>
  
</section>
<% end %>

<section>
  <div id="tags">

  </div>
</section>

