--- 
title: Company
company_name: Pentandra Research Solutions, Inc.
phone: +1 435.294.2964
email: hello@pentandra.com
twitter: PentandraInc
teammembers:
  - first_name: Chris
    last_name: Chapman
    title: CEO and Super Coder
    email: chris@pentandra.com
    twitter: cd_chapman
    phone: 435-294-2964
    phone_ext: 1000
    summary: >
      Chris loves to tackle difficult problems and dreams (literally) about
      making research easier. He is our systems thinker.
  - first_name: Katie
    last_name: Chapman
    title: CFO and Think Tanker
    email: katie@pentandra.com
    twitter: KAMChapman
    phone: 435-294-2964
    phone_ext: 1001
    summary: >
      Katie loves to solve a good puzzle and thrives on the details. She is
      also our finance and tax geek and actually enjoys it.
---

<article id="company">

  <section id="meettheteam">

    <div class="wrapper">
      <h2>Meet the Team.</h3>

      <p class="big">
        We are couple of research addicts trying to promote quality research
        and make collaboration throughout the research process easier.
      </p>
    </div>

    <div id="teamphoto"></div>

    <nav>
      <ol>
        <li>
          <a href="#passionate">Passionate</a>
          <p>We love what we do</p>
        </li>
        <li>
          <a href="#quality">Quality over quantity</a>
          <p>Quality research or bust</p>
        </li>
        <li>
          <a href="#smallandfocused">Small and focused</a>
          <p>We can move fast</p>
        </li>
        <li>
          <a href="#dogfood">Consumers</a>
          <p>This is for us, too!</p>
        </li>
        <li>
          <a href="#committed">Committed</a>
          <p>We're here to stay</p>
        </li>
        <li>
          <a href="#community">Community-oriented</a>
          <p>That's where it's at</p>
        </li>
      </ol>
    </nav>

  </section>

  <section id="ourvalues">

    <h2>Our Values</h2>

    <section id="passionate">

      <h3>Passionate</h3>

      <p>
        Some people call it <abbr title="Obsessive-Compulsive Disorder">OCD</abbr>;
        others call it passion. We love good research. We want to make it
        easier for you to do good research. We believe that software should work
        the way researchers work, not the other way around. That is what drives 
        us. Crazy.
      </p>

    </section>

    <section id="quality">

      <h3>Quality Over Quantity</h3>

      <p>
        We figure that if you're going to spend the time to do research, you
        might as well do it right. We want to make it easier for you to do
        good research. And after you've done a great job, we want to help you
        show it off. (You want to show it off after you've put all that work 
        into it, don't you?)
      </p>

    </section>

    <section id="smallandfocused">
      <h3>We're Small</h3>

      <p>
        And we like it that way. Being small helps us to move faster and be more
        responsive to the needs of our customers. Please let us know how we can
        serve you better! Really. We want to know.
      </p>
    </section>

    <section id="dogfood">
      <h3>We Eat Our Own Dogfood</h3>

      <p>
        Our company came about because we wanted to keep track of our own family
        history research. We hunted for software that would help us with it. We
        couldn't find any that did what we needed. So we decided to do it 
        ourselves, and here we are! We thought it would be selfish to not share
        it.
      </p>
    </section>

    <section id="committed">
      <h3>We Are Here For You</h3>

      <p>
        We are committed to sticking around.
      </p>
    </section>

    <section id="community">
      <h3>We Love Community</h3>

      <p>
        Our company would not be here without the contributions from many in the
        technological and genealogical communities. We are happy to have a chance
        to <%= link_to("contribute back", "/open/") %>.
      </p>
    </section>

  </section>

  <section>

    <h2>Our Roster</h2>
    
    <% @item[:teammembers].each do |member| %> 
    <% member_name = member[:first_name] + " " + member[:last_name] %>
    <section class="teammember vcard clearfix">

      <img class="photo" src="/images/<%= member_name.to_slug %>-150x150.jpg" alt="Photo of <%= member_name %>" />

      <div class="wrapper">
        <hgroup>
          <h3 class="big fn"><%= member_name %></h3>
          <h4 class="small"><%= member[:title] %></h4>
        </hgroup>

        <p><%= member[:summary] %></p>
      </div>

      <aside class="small">
        <p><a href="https://twitter.com/<%= member[:twitter] %>" class="twitter-follow-button url" data-show-count="false" data-width="160px">Follow @<%= member[:twitter] %></a></p>
        <p><a class="email" href="mailto:<%= member[:email] %>" title="<%= member[:email] %>">Email <%= member[:first_name] %></a></p>
      </aside>

    </section>
    <% end %>

  </section>

  <footer id="contact">
    <h2>Give Us A Holler!</h2>

    <address class="vcard">
      <p class="fn org"><%= @item[:company_name] %></p>
      <p>Phone: <span class="tel"><%= @item[:phone] %></span></p>
      <p>Email: <a class="email" href="mailto:<%= @item[:email] %>"><%= @item[:email] %></a></p>
      <p><a href="https://twitter.com/<%= @item[:twitter] %>" class="twitter-follow-button url" data-show-count="false" data-size="large">Follow @<%= @item[:twitter] %></a></p>
    </address>
      
  </footer>

</article>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
