--- 
title: Products
---

<h1>Our Products</h1>

<section id="geungle" class="section noted">

  <h2>For Genealogists</h2>

  <div class="group">

    <div class="bd section geungle-logo"></div>
    
    <div class="bd fx">
      
      <p class="normal">

        We're a couple of diehard genealogy junkies. When we were first getting
        into genealogy, we wanted some sort of software to help us with our
        research. While we found many great applications for creating family
        trees, we were looking for something more. We wanted something that
        amplified our research efforts---something that really understood the
        research process. We were tired of curating mythological family trees.
        We wanted something that felt more real. So we wrote down everything
        that we hoped for in a family history research application and
        brainstormed how we could build it. What we came up with was a
        different kind of animal: <strong>Geungle</strong>.
      
      </p>

    </div>

    <div class="aside">

      <div class="banner rev group">
        <div class="pod">
          <p>
            Geungle is pronounced like "jungle."
          </p>
        </div>
      </div>

    </div>

    <div class="bd">
      <figure class="bq grab">

        <blockquote>
          <p>

            We can’t solve problems by using the same kind of thinking we used when we
            created them.

          </p>
        </blockquote>
        <figcaption>--- Albert Einstein<sup id="fnref:1"><a href="#fn:1" rel="footnote">1</a></sup></figcaption>

      </figure>
    
    </div>

    <div class="section bd fx">

      <p class="normal">

        <span class="newthought">Geungle is a platform for scholarly
          genealogical research</span>, sometimes referred to as 
        <a href="#gh">generational history</a>. Its core is based on the
        genealogical research process. Its goal is to help do and share
        quality, transparent research that measures up to the
        <a rel="external" href="http://www.bcgcertification.org/resources/standard.html">genealogical proof standard</a>.
        Because it understands and encompasses the research <em>process</em>,
        Geungle enables collaboration in ways that have never before been
        possible.

      </p>
      
    </div>

  </div>

  <section class="section" id="researchprocess">

    <div class="bd fx">

      <h3>Built Around the Research Process</h3>

      <p>

        Geungle works the way <%= link_to "research works", "/research/" %>.
        Just as in research, you start with a question. Then, you search for
        answers. As you search, everything you do is tracked as part of your
        context of your research. As you find little bits of information that
        could possibly contribute to an answer, you build a case.  Eventually,
        you arrive at a 
        "<q cite="http://www.bcgcertification.org/resources/standard.html">soundly reasoned, coherently written</q>"
        conclusion. 

      </p>
      <p>

        These cases are little bundles of research. They can be shared and used
        to help answer other questions. They can be grouped into projects. You
        can have many cases open at the same time. Whatever the case
        <i>[sic]</i>, you can always look back and see how you came to a
        conclusion. And thanks to Geungle Archive, you can trace a conclusion
        all the way back to the original sources (or digital surrogates). From
        beginning to end, Geungle is there to support your
        research---throughout the whole process.

      </p>

      <!-- Insert link to blog about open collaboration currency -->

    </div>

    <div class="mod bd">
      <a href="http://geungle.com/" rel="external" class="rev button">OK, I'm intrigued. <span class="newline">Take me to <b>Geungle</b></span></a>
    </div>

  </section>
  <section class="section" id="approach">

    <div class="bd fx">

      <h3>A Holistic Approach</h3>

      <p>

        The past is made up of more than names and dates. In fact, it is the
        little things about an individual's life that make all the difference
        in genealogical research. Often, it is only by understanding these
        little things that we can break through research barriers. 

      </p>

      <aside class="banner aside mod rev" id="gh">
        <div class="pod">
          <p>

            <dfn id="gh">Generational history</dfn> involves learning more about
            our ancestors than their vital statistics. It means learning their
            stories, who they were, and what their lives were like.

          </p>
          <p>
            <small class="sidenote">
              
              For an in-depth explanation of generational history, see the paper
              <a class="em" rel="external" href="http://www.ngsgenealogy.org/galleries/Ref_Researching/NGSQVol91Pg26077GenealogyHistory.pdf"><cite>Genealogy in the "Information Age": History's New Frontier?</cite></a>
              by industry expert Elizabeth Shown Mills.

            </small>
          </p>
        </div>

      </aside>
      
      <p>

        But what about my family tree, you say? Yes, you can have that too. In
        Geungle it is like a report or overview of your conclusions---a
        snapshot of your research at a certain point in time. 

      </p>
      <p>
        
        <span class="newthought">The bare bones of names and dates are
          important</span>, yet my family is more interesting than a book full
        of statistics (at least I think so).  Geungle puts flesh and blood on
        those bones and gives a real understanding of who that person was and
        how they fit in their world.  I want to know their stories and come to
        know my ancestors. Isn't that what family history is all about? Knowing
        our ancestors helps us understand who we are and how we fit in our
        world a little bit better.

      </p>

    </div>

  </section>
  <section class="section" id="standards">

    <div class="bd fx">

      <h3>Built On Standards</h3>

      <p>

        The field of genealogy is inherently interdisciplinary. We want
        genealogical data to be available in interdisciplinary ways;
        accessible, for example, to historians or social researchers, and not
        stuck in proprietary genealogical data formats. 
        We support <%= link_to "open data", "/open/" %>. 
        Standards are an important means in achieving that goal.
        
      </p>
      <p>

        Geungle is built upon open standards from several different
        communities:

      </p>

      <dl>
        <dt>Digital Archive</dt>
        <dd>

          Have you ever needed a safe place to store your digital surrogates?
          Geungle Archive is a standards-compliant digital archive.
          
        </dd>
        <dt>Library</dt>
        <dd>

          Here we find many of our source documents, so why not integrate? 
          
        </dd> 
        <dt>Knowledge Management and the Semantic Web</dt>
        <dd>

          Your family is more than rows in a relational database. Geungle
          understands the relationships between your data and can infer
          connections to the world of the past and the present.

        </dd>
        <dt>Genealogy</dt>
        <dd>

          We are looking forward to collaborating with the <a href="http://fhiso.org/" rel="external"><abbr title="Family History Information Standards Organization">FHISO</abbr></a>.
          We also can't forget GEDCOM---for importing those useful (or
          less-than-useful) sources known as family trees.

        </dd>
      </dl>

      <p>
        
        We hope that by building Geungle on open standards, genealogical
        research will be more accessible and help make true research
        collaboration a modern reality.

      </p>

    </div>

  </section>

  <div class="section bd">
    <a href="http://geungle.com/" rel="external" class="rev button">Alright, I've heard enough! <span class="newline">Take me to <b>Geungle</b></span></a>
  </div>

  <div class="footnotes section bd">
    <ol>
      <li id="fn:1">
        <p>

          While this quote is widely attributed to Albert Einstein, we have not
          been able to find proof that he actually said it. Either way, we
          really like the quote and think that the principle of it is true.
          <a href="#fnref:1" rel="reference">&#8617;</a>

        </p>
      </li>
    </ol>
  </div>
</section>
