--- 
title: Products
ready_for_geungle: false
---

<h1>Our Products</h1>

<section id="geungle" class="noted">

  <div class="group">

    <div class="aside">
      <h2>Geungle</h2>
    </div>

    <div class="section bd">
      <div class="geungle-logo"></div>
    </div>

    <div class="bd fx">
      
       <p class="normal">

         We're a couple of genealogy junkies. When we were getting started, we
         wanted some sort of software to help us with our research. While we
         found many great applications for creating family trees, we were
         looking for something more. We wanted something that amplified our
         research efforts---something that really understood the research
         process. We were tired of curating mythological family trees. We
         wanted something that felt more solid. So we wrote down everything
         that we wanted in a family history research application and
         brainstormed how we could build it. What we came up with was a
         different kind of animal. 
      
      </p>

    </div>
    <div class="bd fx">

      <p class="normal">

        Geungle is a platform for scholarly genealogical research, sometimes
        referred to as <a href="#gh">generational history</a>. Its core is
        based on the genealogical research process. Its goal is to help do and
        share quality, transparent research that measures up to the
        <a rel="external" href="http://www.bcgcertification.org/resources/standard.html">genealogical proof standard</a>.
        Because it understands and encompasses the research <em>process</em>,
        Geungle enables collaboration in ways that have never before been
        possible.

      </p>
      
    </div>

    <div class="aside">

      <div class="banner rev group">
        <div class="pod">
          <p>
            Geungle is pronounced like "jungle."
          </p>
        </div>
      </div>

    </div>

    <% if @item[:ready_for_geungle] %>
    <div class="aside">
      <a href="http://geungle.com/" class="rev button">Visit <em>Geungle</em></a>
    </div>
    <% end %>

  </div>

  <section>

    <div class="bd">

      <h3>Built Around the Research Process</h3>

      <p>

        Geungle works the way <%= link_to "research works", "/research/" %>.


      </p>
      <p>

        

      </p>

      Ability to remember all of it in the context of your research.
      Understands the context of what you are putting in. Case idea. they can
      follow back the research. Starts with questions Wrap all the research up
      in a bundle that someone else can look at.

      GPS - should be able to understand it easily - standards

      Collaborate with other disciplines


      <!-- Insert link to blog about open collaboration currency -->
      
    </div>

  </section>
  <section>

    <div class="bd">

      <h3>A Holistic Approach</h3>

      <aside class="banner aside mod rev" id="gh">
        <div class="pod">
          <p>

            <dfn id="gh">Generational history</dfn> involves learning more about
            our ancestors than their vital statistics. It means learning their
            stories, who they were, and what their lives were like.

          </p>
          <p>
            <small class="sidenote">
              
              For an in-depth explanation of generational history, see the paper
              <a class="em" href="http://www.ngsgenealogy.org/galleries/Ref_Researching/NGSQVol91Pg26077GenealogyHistory.pdf">Genealogy in the "Information Age": History's New Frontier?</a>
              by industry expert Elizabeth Shown Mills.

            </small>
          </p>
        </div>

      </aside>
      
      <p>

        The past is made up of more than names and dates. In fact, it is the
        little things about an individual's life that make all the difference
        in genealogical research. Often, it is only by understanding these
        <em>other</em> things that we can break through research barriers.
        Geungle puts flesh and blood on those bones and gives us a real
        understanding of who that person was and how they fit in their world.

      </p>

      <p>

        But what about my family tree, you say? Yes, you can have that, but in
        Geungle it is more like a report or overview of your conclusions---a
        snapshot of your research at a certain point in time. 

      </p>
      <p>
        
        The names and dates are important, yet my family <em>has</em> to be
        more interesting than a book full of statistics (at least I hope so).
        I want to know their stories and who they really were. The important
        thing is that we come to know our ancestors. Knowing them helps us
        understand who we are and how we fit in our world a little bit
        better.

      </p>

    </div>

  </section>
  <section>

    <div class="bd">

      <h3>Built On Standards</h3>

      <p>

        Built upon standards from the digital archive, library, knowledge
        management, semantic web, and genealogical communities, Geungle is
        designed to interoperate at many levels to make genealogical research
        discoverable and research collaboration a modern reality.

      </p>

      <p>

        We support <%= link_to "open data", "/open/" %>, and want genealogical
        data to be available in interdisciplinary ways; accessible, for
        example, to historians or social researchers, and not stuck in
        proprietary genealogical data formats.

      </p>

    </div>

  </section>

</section>
