---
title: Search
is_hidden: true
---

<div class="group">

  <h1>Search</h1>

</div>
<div class="noted section">

  <h2>Search by Keyword</h2>

  <div class="bd">

    <p class="big">

      Looking for something? Type in a keyword below to find it!

    </p>

    <div class="banner grab section">

      <form class="fancy wrapper group" method="GET">

        <noscript>
          <p>

            Searching requires Javascript, though, so if you want to be able to
            find anything, please enable Javascript.

          </p>
        </noscript>

        <div class="group">
          <div class="section inner item">
            <input class="inner" type="search" placeholder="Search by keyword..." name="q" id="q" autofocus />
          </div>
          <div class="aside pod item">
            <p>

              Enter a keyword to search

            </p>
          </div>
        </div>
      </form>

    </div>

    <div class="section invisible" id="results">

      <h3>Results</h3>

      <ol id="results-list"></ol>

    </div>

  </div>
</div>

<% content_for :javascripts do %>
<script src="/js/search-data.js?v=<%= @site.config[:version] %>"></script>
<script>
  $(function() {
    var search = Pentandra.Search.search,
        query = $.url().param("q"),
        searchInput = $("input#q");

    searchInput.input(function() {
      search(this.value, displayResults);
    });

    if (query) {
      searchInput.val(window.decodeURIComponent(query));
      searchInput.trigger("txtinput");
    }

  });

  function displayResults(items) {
    if (items.length > 0) {
      var html = "";

      for (var i = 0; i < items.length; i++) {
        var description = '';
        if (items[i].desc) { 
          description = ' / ' + items[i].desc;
        }

        html += '<li><p><a href="'+items[i].url+'">'+items[i].title+'</a>'+description+'</p></li>';
      }
      $("ol#results-list").html(html);
      $("#results").removeClass("invisible");
    } else {
      $("#results").addClass("invisible");
      $("ol#results-list").html("");
    }
  }
</script>
<% end %>
