---
title: Specifications
description: Specifications, mostly ontologies, that we are working on, at various stages of development.
---

<div class="group">

  <h1>Specifications</h1>

  <div class="bd big">
    
    <p>

      Mostly ontologies, at various stages of development. Some of these we are
      actively developing, and some some are links to specifications that
      others have started, are important to us, and to which we are actively
      contributing or incubating.

    </p>

    <p class="bigger">Check them out.</p>
    
  </div>
</div>
<section class="noted section">

  <h2>Machine Vocabularies</h2>

  <div class="bd">

    <p>



    </p>

  </div>
  <section id="sec:knowledge-design" class="section">

    <div class="bd">

      <h3 class="flush">Knowledge Design</h3>

      <p>
        
        A term coined by <a
          href="https://www.youtube.com/watch?v=_oz_rKjLtW4">Jeffrey
          Schnapp</a>, <dfn id="def:knowledge-design">knowledge design</dfn> is
        the future of scholarship, where the process <em>is</em> the product.

      </p>

      <dl>

        <dt>Design Cases</dt>
        <dd><a><abbr title="Issue-Based Information System">IBIS</abbr> ontology</a></dd>

        <dt>Research Cases</dt>
        <dd><%= link_to_id("/specifications/knowledge-design/research-cases/index.*") %></dd>

      </dl>

    </div>

  </section>
  <section id="sec:scholarly-commons" class="section">

    <div class="bd">

      <h3 class="flush">Scholarly Commons</h3>

      <p>

        The Scholarly Commons is not a single platform or tool, but rather the
        principles, best practices, interfaces and standards that should govern
        the multidirectional flow of scholarly objects through all phases of
        the research process from conception to dissemination.

      </p>

      <p><a href="https://www.force11.org/group/scholarly-commons-working-group">FORCE11 Scholarly Commons Working Group</a></p>

    </div>

  </section>
  <section id="sec:dmi" class="section">

    <div class="bd">

      <h3 class="flush">Dynamic Machine Interfaces</h3>

      <p>Ontologies that build on <abbr title="REpresentational State Transfer">REST</abbr> ideas for machine interfaces and interactions.</p>

      <dl>

        <dt>Hydra</dt>
        <dd><a href="http://www.hydra-cg.com/">Hydra Community Group</a></dd>

      </dl>

    </div>

  </section>
  <section id="sec:business" class="section">

    <div class="bd">

      <h3 class="flush">Business</h3>

      <p>Specifications for open and social business.</p>

      <dl>

        <dt>Legal Forms</dt>
        <dd><a href="https://w3id.org/legal_form/">Legal form vocabulary</a></dd>

      </dl>

    </div>

  </section>

</section>
