<% render('/blog/default.*') do %>
  <h1>Articles from <%= year.to_s %></h1>

  <% articles_by_year(published_articles, year).sort_by { |item| item[:created_at] }.reverse_each do |article| %>
    <%= render('/blog/partials/summary.*', item: article) %>
  <% end %>

<% end %>
