<% render('/blog/default.*') do %>
  <h1>Posts from <%= @item.fetch(:year).to_s %></h1>

  <% year_posts = posts_by_year(@item.fetch(:year), sorted_weblog) %>
  <div property="schema:hasPart" resource="pentandra-blog:posts_from_<%= @item.fetch(:year) %>" typeof="schema:ItemList">
    <link property="schema:itemListOrder" resource="schema:itemListOrderDescending" />
    <meta property="schema:numberOfItems" content="<%= h year_posts.length %>" datatype="schema:Integer" />
    <% year_posts.sort_by { |post| post[:published_at] }.reverse.each_with_index do |post, index| %>
      <%= render('/blog/partials/summary.*', item: post, position: index + 1) %>
    <% end %>
  </div>

<% end %>
