<% render '/blog/default.*' do %>
  <h1>Articles by <%= author.to_s %></h1>

  <% articles_by_author(publishing_articles, author).each do |article| %>
    <%= render('/blog/partials/summary.*', :item => article) %>
  <% end %>

<% end %>
