<% render('/blog/default.*') do %>
  <h1>Articles by <%= author.to_s %></h1>

  <% posts_by_author(published_blog_posts, author).each do |post| %>
    <%= render('/blog/partials/summary.*', item: post) %>
  <% end %>

<% end %>
