<footer id="contentinfo" class="contentinfo">
  <div class="content">

    <div class="section small" resource="pentandra-website:website" typeof="schema:WebSite">

        <%= render('/partials/license.*') %>

        <%# render('/spec/partials/source-code.*') %>

    </div>

    <link property="rdfa:copy" resource="pentandra-website:license" />

  </div>
</footer>
