---
title: Solutions
description: Software that works the way research works.
meta_description: >-
  Pentandra is working on open, transparent, real-time, collaborative, and
  cross-domain software solutions that work the way research works.
previous_path: /products/
---

<div class="group">

  <h1>Our Solutions</h1>

  <div class="bd">

    <p class="big">

      Here are the collaborative solutions we're building for the future of
      research. The core technologies we build on are generic and can bridge
      branches of knowledge. Our complete solutions are designed for specific
      branches of knowledge, because every branch has its own culture and
      vocabulary.

    </p>

    <p class="bigger">And that's a good thing.</p>

  </div>

</div>

<nav class="section rev ext">
  <div class="menu menu3">
    <ul class="group mod">
      <li><a href="#sec:for-developers" class="mod button">For Developers</a></li>
      <li><a href="#sec:for-researchers" class="mod button">For Researchers</a></li>
      <li class="last"><a href="#sec:for-leaders" class="mod button">For Leaders</a></li>
    </ul>
  </div>
</nav>

<section id="sec:for-developers" class="noted group">

  <h2>For Developers</h2>

  <section id="specifications" class="section">

    <div class="bd">
      <h3 class="flush">Specifications</h3>
    </div>

    <div class="bd">

      <p>

        We're working on specifications and vocabularies that enable and
        support open research. We have a long-term view and are working in the
        open, and we encourage you to collaborate and incorporate them into
        your applications.

      </p>

    </div>

    <div class="aside section">
      <a class="button" href="/solutions/specifications/">Learn about the <b>Specifications</b></a>
    </div>

  </section>

</section>
<section id="sec:for-researchers" class="noted group">

  <h2>For Researchers</h2>

  <section id="geungle" class="section">

    <div class="bd">
      <h3>Geungle: Open Research for Genealogy</h3>
    </div>

    <div class="bd section geungle-logo"></div>

    <div class="bd">

      <p>

        Geungle is a platform for genealogical research, referred to sometimes
        as <a
          href="/solutions/geungle/#generational-history">generational
          history</a>. Based around the genealogical research process, the goal
        of Geungle is to make it possible for anyone to participate in quality,
        transparent, reproducible research that measures up to industry
        standards.

      </p>

    </div>

    <div class="aside section">
      <a class="button" href="/solutions/geungle/">Learn more about <b>Geungle</b></a>
    </div>

  </section>

</section>
<section id="sec:for-leaders" class="noted section">

  <h2>For Leaders</h2>

  <div class="bd">

    <p class="big">

      Ready to lead your organization into the future? Whether you need just a
      little help, a complete solution, or want to partner with us in some
      other way, we are here for you!

    </p>

    <p class="big"><a href="/company/#contact" title="Give us a holler!">Get in touch</a> and share your ideas with us.</p>

  </div>

</section>
