--- 
title: Blog
description: A collection of our thoughts about Pentandra and the future of research.
---
<div class="group" prefix="<%= prefix_mappings_for(:sioct) %>" resource="pentandra-blog:blog" typeof="schema:Blog sioct:Weblog">

  <h1 property="schema:name sioc:name"><%= @config[:blog][:title] %></h1>
  <link property="schema:isPartOf" resource="pentandra-website:website" />

  <div property="schema:hasPart" resource="pentandra-blog:posts" typeof="schema:ItemList">
    <link property="schema:itemListOrder" resource="schema:itemListOrderDescending" />
    <meta property="schema:numberOfItems" content="<%= h published_weblog.length %>" datatype="schema:Integer" />
    <% published_weblog.each_with_index do |post, index| %>
      <%= render('/blog/partials/summary.*', item: post, position: index + 1) %>
    <% end %>
  </div>

</div>
