/* Retina media query.
Overrides styles for devices with a
device-pixel-ratio of 2+, such as iPhone 4. */

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {

  .retina {
    max-width: 100%;
  }

  .aside .geungle-logo {
    // Just use the normal image
    background-image: url('/images/geungle-logo.png');
    background-size: 100%;
  }

  .logo { 
    background-image: url('/images/pentandra-logo@2x.png');
    background-size: 100%;
  }

  .rev .logo, .grab .logo {
    background-image: url('/images/pentandra-logo-reverse@2x.png');
    background-size: 100%;
  }

  .zeugma {
    background-image: url('/images/zeugma@2x.jpg?v2');
    background-size: 100%;
  }

  // Retina for mobile
  @media (max-width: 767px) {

    .geungle-logo {
      // Just use the normal image
      background-image: url('/images/geungle-logo.png');
      background-size: 100%;
    }

    .process {
      background-image: url('/images/research-process_3col@2x.png');
      background-size: auto 100%;
    }
 
    .zeugma {
      // Just use the normal image
      background-image: url('/images/zeugma.jpg?v2');
    }

  }

  // Retina for wide-mobile
  @media (min-width: 480px) and (max-width: 767px) {
    
    .logo {
      background-image: url('/images/pentandra-logo_436x58@2x.png');
    }

    .rev .logo, .grab .logo {
      background-image: url('/images/pentandra-logo-reverse_436x58@2x.png');
    }

    .zeugma {
      background-image: url('/images/zeugma@2x.jpg?v2');
    }
  }
}
