---
title: Benefit reports
description: >
  Benefit reports for Pentandra Research Solutions, Inc.
---
<div class="group">

  <h1>Benefit Reports</h1>

  <div class="bd">

    <p class="big">

      Benefit corporations are required to prepare annual benefit reports,
      outlining our overall social and environmental performance, so the
      public, as well as directors and shareholders, can be better informed.

    </p>

    <p class="bigger">So here you go:</p>

  </div>

</div>
<div class="group">
  <% sorted_benefit_reports.each do |report| %>
    <%= render('/benefit_reports/partials/summary.*', item: report) %>
  <% end %>
</div>
