<% author = person_by_name(item[:author_name]) %>
<div class="section banner citations">
  <h3 class="big">Citations</h3>
  <p>If you're into copy and paste, use these snippets, listed here in order of decreasing universality, to link to or cite this post.</p>
  <label>
    <abbr title="Uniform Resource Locator">URL</abbr>
    <input readonly="readonly" class="bookmark u-uid u-url uri" type="url" value="<%= path_to(item, global: true) %>">
  </label>
  <label>
    <abbr title="HyperText Markup Language">HTML</abbr><span class="math">+</span><abbr title="Resource Description Framework in Attributes">RDFa</abbr>
    <input readonly="readonly" type="text" class="code" value="<%= h %[<span vocab="http://schema.org/" property="citation" typeof="WebPage"><a property="title" rel="url" href="#{path_to(item, global: true)}"><cite>#{item[:title]}</cite></a> (<span property="author" resource="#{iri_for(author)}" typeof="Person"><abbr property="name" content="#{item[:author_name]}" title="#{item[:author_name]}">#{author[:last_name]}</abbr></span> <time property="datePublished">#{publication_date_for(item)}</time>)</span>] %>">
  </label>
  <label>
    <abbr title="HyperText Markup Language">HTML</abbr><span class="math">+</span>microformats
    <input readonly="readonly" type="text" class="code" value="<%= h %[<span class="h-cite"><a class="u-url p-name" href="#{path_to(item, global: true)}"><cite>#{item[:title]}</cite></a> (<abbr class="p-author h-card" title="#{item[:author_name]}">#{author[:last_name]}</abbr> <time class="dt-published">#{publication_date_for(item)}</time>)</span>] %>">
  </label>
  <label>
    <abbr title="A Tex extension package for bibliographic citations">BibTeX</abbr>
    <input readonly="readonly" type="text" class="code" value="<%= h %[<span class="h-cite"><a class="u-url p-name" href="#{path_to(@item, global: true)}"><cite>#{@item[:title]}</cite></a> (<abbr class="p-author h-card" title="#{@item[:author_name]}">#{author[:last_name]}</abbr> <time class="dt-published">#{date_for(@item)}</time>)</span>] %>">
  </label>
</div>
