<div class="bd" resource="pentandra:company">
  <section class="noted aside section">
    <h2 class="flush normal">About Pentandra</h2>
    <ul class="none">
      <li><a href="/blog/">The Pentandra Blog</a></li>
      <li><a href="/company/#sec:mission">Hope for the Future</a></li>
      <li><a href="/company/#sec:contact">Contact Us</a></li>
    </ul>
  </section>
  <section class="noted inner group" property="fea:hasIntent" resource="pentandra:mission" typeof="fea:Mission">
    <h2 class="flush normal">Our Mission</h2>
    <p property="fea:description"><%= company[:mission] %></p>
  </section>
</div>
<div class="aside section">
  <h2 class="visuallyhidden">Featured Links</h2>
  <div class="logotype section"></div>
  <div class="nav">
    <ul>
      <li><a href="/research/#sec:future">The Future of Research</a></li>
      <li><a href="/research/process/">Research <span class="oldstyle">101</span></a></li>
      <li><a href="/solutions/">Solutions</a></li>
    </ul>
  </div>
</div>
