<div class="section small" resource="pentandra-website:website" typeof="schema:WebSite">

  <div class="aside">
    <h2 class="visuallyhidden">Other Links</h2>
    <div class="nav">
      <ul>
        <li property="schema:potentialAction" resource="pentandra-website:search" typeof="schema:SearchAction">
          <meta property="schema:target" content="<%= "#{path_to(@items['/static/search.*'], global: true)}?q={search_term_string}" %>"/>
          <meta property="schema:query-input" content="required name=search_term_string"/>
          <a property="schema:url" href="<%= h path_to(@items['/static/search.*']) %>">Search</a>
        </li>
        <li><a about="pentandra-website:project" property="rdfs:seeAlso" href="/colophon/">Colophon</a></li>
        <li><a href="/policy/">Policy</a></li>
        <li><a href="/company/#donating"><span class="icon-heart"></span> Donate</a></li>
      </ul>
    </div>
  </div>

  <div class="bd">

    <%= render('/partials/license.*') %>

    <%= render('/partials/source-code.*') %>

  </div>
</div>
<link property="rdfa:copy" resource="pentandra-website:license" />
