<div class="section small">

  <div class="aside">
    <h2 class="visuallyhidden">Other Links</h2>
    <div class="nav">
      <ul>
        <li><a href="/search/">Search</a></li>
        <li><a href="/colophon/">Colophon</a></li>
        <li><a href="/policy/">Policy</a></li>
        <li><a href="/company/#donating"><span class="icon-heart"></span> Donate</a></li>
      </ul>
    </div>
  </div>

  <div class="bd">
    <div class="group" resource="pentandra-website:website" typeof="schema:WebSite">

      <%= render('/partials/license.*') %>

      <%= render('/partials/source-code.*') %>

    </div>
    <link property="rdfa:copy" href="#license" />
  </div>
</div>
