<div class="section small">

  <%= render('/partials/other-links.*') %>

  <div class="bd">
    <div class="group" resource="pentandra-website:website" typeof="schema:WebSite">

      <%= render('/partials/license.*') %>

      <%= render('/partials/source-code.*') %>

    </div>
    <link property="rdfa:copy" href="#license" />
  </div>
</div>
