<footer id="contentinfo" class="rev contentinfo">
  <div class="content">
    <div class="group">

      <%= render('/partials/recent_thoughts.*') %>

      <%= render('/partials/about_pentandra.*') %>

    </div>

    <div class="section">
      <a class="section button backtotop">Back to top</a>
    </div>

    <%= render('/partials/fine_print.*') %>

  </div>
</footer>
