<footer id="contentinfo" class="rev contentinfo">
  <div class="content">
    <div class="group">

      <%= render('/partials/recent-thoughts.*') %>

      <%= render('/partials/about-pentandra.*') %>

    </div>

    <div class="section">
      <a class="section button backtotop">Back to top</a>
    </div>

    <%= render('/partials/fine-print.*') %>

  </div>
</footer>
