<footer id="contentinfo" class="rev contentinfo">
  <div class="content">
    <div class="group">

      <%= render('/partials/recent-thoughts.*') %>

      <%= render('/partials/about-pentandra.*') %>

    </div>

    <%= render('/partials/back-to-top.*') %>

    <%= render('/partials/fine-print.*') %>

  </div>
</footer>
