<p>This <%= item.fetch(:kind) %> is part of the series <cite><%= link_to_id(item[:part_of_id], fragment: 'series', concept: true, property: 'schema:partOfSeries', typeof: 'schema:CreativeWorkSeries') %></cite>.</p>
