<p>This <%= item.fetch(:kind) %> is part of the series <cite><%= link_to_id(item[:part_of_id], fragment_id: "#{item.fetch(:kind)}-series", property: 'schema:partOfSeries', typeof: 'schema:CreativeWorkSeries') %></cite>.</p>
