<section class="actions section">
  <h3 class="visuallyhidden">Social Media Links</h3>
  <div class="bd">
    <div class="menu group nav">
      <ul class="icons big">
        <li>
          <a href="https://www.facebook.com/PentandraInc">
            <span aria-hidden="true" class="button icon-facebook"></span>
            <span class="normal">Facebook</span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/PentandraInc">
            <span aria-hidden="true" class="button icon-twitter"></span>
            <span class="normal">Twitter</span>
          </a>
        </li>
        <li>
          <a href="<%= @config[:blog][:feed_path] %>">
            <span aria-hidden="true" class="button icon-rss"></span>
            <span class="normal">Blog Feed</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
