<article class="group" vocab="http://schema.org/" typeof="BlogPosting">
  <header class="section">
    <h1 property="name headline"><%= @item[:title] %></h1>
    <div class="group meta">
      <div class="bd up">
        <div>
          Written <time property="datePublished" datetime="<%= @item[:created_at] %>"><%= @item[:created_at].strftime("%B %d, %Y") %></time>
          by
          <%= link_for_author( @item[:author_name], "/authors/") %>
        </div>
        <% if @item[:updated_at] > @item[:created_at] then %>
        <div>
          Last Updated <time property="dateModified" datetime="<%= @item[:updated_at] %>"><%= @item[:updated_at].strftime("%B %d, %Y") %></time>
        </div>
        <% end %>
        <meta property="description" content="<%= @item[:description] %>">
      </div>
    </div>
  </header>
  <div class="bd">
    <div class="post section" property="articleBody">
      <%= yield %>
    </div>
    <%= render "comments" %>
  </div>
  <aside class="aside">
    <h2 class="visuallyhidden">Meta</h2>
    <section class="section" typeof="Person" property="author">
      <%
       company = @items.find { |i| i.identifier == '/company/' }
       author = company[:teammembers].find { |m| m[:first_name] + " " + m[:last_name] == @item[:author_name] }
      %>
      <h3 class="big">The Author</h3>
      <figure id="author">
        <img class="photo framed" src="<%= member_image_path(author) %>" alt="Photo of <%= full_name(author) %>" property="image" />
        <figcaption class="small nav">
          <h4 class="normal shaved" property="name"><%= full_name(author) %></h4>
          <h5 class="small em" property="jobTitle"><%= author[:title] %></h5>
          <ul>
            <li><a href="<%= member_path(author) %>" property="url"><%= author[:first_name] %> at <span property="worksFor">Pentandra</span></a></li>
            <li><a href="https://plus.google.com/<%= author[:gplus] %>?rel=author"><%= author[:first_name] %> on Google+</a></li>
          </ul>
        </figcaption>
      </figure>
    </section>
    <section class="grab banner section">
      <div class="fancy wrapper group pod">
        <h3 class="big">Share</h3>
        <div class="menu nav section icons big" id="share">
          <% 
            sharer_url = shorten(url_for(@item))
            sharer_text = h(@item[:title])
            sharer_tags = h(@item[:tags].join(',')) unless @item[:tags].nil?
          %>
          <ul class="centered">
            <li>
              <a rel="external" href="https://plus.google.com/share?url=<%= sharer_url %>">
                <span aria-hidden="true" class="icon-googleplus"></span>
                <span class="visuallyhidden">Share on Google+</span>
              </a>
            </li>
            <li>
              <a rel="external" href="https://www.facebook.com/sharer/sharer.php?u=<%= sharer_url %>">
                <span aria-hidden="true" class="icon-facebook"></span>
                <span class="visuallyhidden">Share on Facebook</span>
              </a>
            </li>
            <li>
              <a rel="external" href="https://twitter.com/share?url=<%=sharer_url %>&text=<%= sharer_text %>&via=PentandraInc&hashtags=<%= sharer_tags %>&related=pentandrainc,geungle">
                <span aria-hidden="true" class="icon-twitter"></span>
                <span class="visuallyhidden">Share on Twitter</span>
              </a>
            </li>
            <li>
              <a rel="external" href="https://www.linkedin.com/shareArticle?mini=true&url=<%= sharer_url %>&title=<%= h(@item[:title]) %>&summary=<%= @item[:description] %>&source=pentandra.com">
                <span aria-hidden="true" class="icon-linkedin"></span>
                <span class="visuallyhidden">Share on LinkedIn</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <nav class="section banner">
      <h3 class="big">Tags</h3>
      <ul class="tags">
        <% [*@item[:tags]].each do |tag| %>
        <li><%= link_for_tag(tag, "/tags/") %></li>
        <% end %>
      </ul>
    </nav>
    <div class="section banner permalinks">
      <h3 class="big">Permalinks</h3>
      <form action="<%= url_for(@item) %>">
        <div>
          <label>
            URL:
            <input rel="bookmark" type="url" property="url" title="Permanent link to this article" value="<%= url_for(@item) %>">
          </label>
        </div>
        <div>
          <label>
            HTML:
            <input type="text" value="<%= h('<cite class="h-cite"><a class="u-url p-name" href="'+url_for(@item)+'">'+@item[:title]+'</a> (<abbr class="p-author h-card" title="'+@item[:author_name]+'">'+author[:last_name]+'</abbr> <time class="dt-published">'+@item[:created_at].to_s+'</time>)</cite>') %>">
          </label>
        </div>
      </form>
    </div>
  </aside>
</article>
