<article class="group">

  <div class="bd">
    <header>
      <h1 class="large"><%= @item[:title] %></h1>
      <small class="up">
        Written <time datetime="<%= @item[:created_at] %>" pubdate><%= @item[:created_at].strftime("%B %d, %Y") %></time> 
        by 
        <%= link_for_author( @item[:author_name], "/authors/") %>
      </small>
    </header>

    <div class="post">
      <%= yield %>
    </div>

    <%= render "comments" %>

  </div>

  <aside class="aside">

    <h2 class="visuallyhidden">Meta</h2>

    <section>

      <h3>The Author</h3>

      <% 
       company = @items.find { |i| i.identifier == '/company/' } 
       author = company[:teammembers].find { |m| m[:first_name] + " " + m[:last_name] == @item[:author_name] }
      %>

      <figure id="author">
        <img class="photo" src="<%= image_path(author) %>" alt="Photo of <%= full_name(author) %>" />
        <figcaption class="mod">
          <div class="big"><%= full_name(author) %></div>
          <div><%= author[:title] %></div>
          <a href="/company/#<%= full_name(author).to_slug %>">More about <%= author[:first_name] %></a>
        </figcaption>
      </figure>
    
    </section>

    <section class="grab banner section static">

      <div class="mod pod">
        <h3 class="big">Share</h3>
        
        <div class="group" id="share" data-url="<%= shorten(url_for(@item)) %>" data-title="share" data-text="<%= @item[:title] %>"></div>
        
      </div>

    </section>

    <nav class="menu group mini">
      <h3 class="big">Tags</h3>

      <ul class="button">
        <% [*@item[:tags]].each do |tag| %>
        <li><%= link_for_tag(tag, "/tags/") %></li>
        <% end %>
      </ul>
    </nav>

    <div class="section">

      <a rel="bookmark" title="Permanent link to this article" href="<%= url_for(@item) %>">Permanent link</a> to this article

    </div>

  </aside>

</article>
