<article class="group">

  <div class="bd">
    <header>
      <h1 class="large"><%= @item[:title] %></h1>

      <small class="up">
        Written <time datetime="<%= @item[:created_at] %>" pubdate><%= @item[:created_at].strftime("%B %d, %Y") %></time> 
        by 
        <%= link_for_author( @item[:author_name], "/authors/") %>
      </small>
    </header>

    <div class="post">
      <%= yield %>
    </div>

    <% if $add_livefyre_comments then %>
    <section class="comments">
      <!-- START: Livefyre Embed -->
      <script type='text/javascript' src='http://www.livefyre.com/wjs/v1.0/javascripts/livefyre_init.js'></script>
      <script type='text/javascript'>
        var fyre = LF({
          site_id: 291113,
          version: '1.0'
        });
      </script>
      <!-- END: Livefyre Embed -->
    </section>
    <% end %>

  </div>

  <aside class="aside">

    <h2 class="visuallyhidden">Meta</h2>

    <section>

      <h3 class="bigger">The Author</h3>

      <% 
       company = @items.find { |i| i.identifier == '/company/' } 
       author = company[:teammembers].find { |m| m[:first_name] + " " + m[:last_name] == @item[:author_name] }
      %>

      <figure id="author">
        <img class="photo" src="<%= image_path(author) %>" alt="Photo of <%= full_name(author) %>" />
        <figcaption class="mod">
          <div class="big"><%= full_name(author) %></div>
          <div><%= author[:title] %></div>
          <a href="/company/#<%= full_name(author).to_slug %>">More about <%= author[:first_name] %></a>
        </figcaption>
      </figure>
    
    </section>

    <nav class="menu group mini">
      <h3 class="big">Tags</h3>

      <ul class="button">
        <% tag_set(Array(@item)).each do |tag| %>
        <li><%= link_for_tag(tag, "/tags/") %></li>
        <% end %>
      </ul>
    </nav>

    <p>
      <%= link_to("permalink", @item, { :title => "Permalink to this article", :class => "permalink" }) %>
    </p>

  </aside>

</article>

<%= render 'blog_meta' %>
