<aside id="blogmeta">

  <div class="authors">
    <h4>Authors</h4>
    
    <ul>
    <% authors(publishing_articles).each do |author| %>
      <li><%= link_for_author(author, "/authors/") %></li>
    <% end %>
    </ul>
  </div>

  <div class="tags">
    <h4>Tags A-Z</h4>
    <ul>
    <% tag_set(publishing_articles).sort.each do |tag| %>
      <li><%= link_for_tag(tag, "/tags/") %></li> 
    <% end %>
    </ul>
  </div>

  <div class="archives">
    <h4>Archives</h4>
    <ul>
      <li><%= link_to 'Recent Articles', '/blog/' %></li>
    <% archive_years(publishing_articles).sort.reverse.each do |year| %>
      <li><%= link_for_archive(year, "/blog/") %></li>
    <% end %>
    </ul>
  </div>

</aside>

