<% if $add_comments then %>
<div class="comments group">
  <div id="livefyre"></div>
  <script src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script>
  <script>
    (function () {
        var articleId = '<%= article_id(@item) %>';
        fyre.conv.load({}, [{
            el: 'livefyre',
            network: 'livefyre.com',
            siteId: '<%= $livefyre_siteid %>',
            articleId: articleId,
            signed: false,
            collectionMeta: {
                title: '<%= @item[:title] %>',
                articleId: articleId,
                url: '<%= url_for(@item) %>',
            }
        }], function() {});
    }());
  </script>
</div>
<% end %>