<% render('/base.*') do %>

  <%= render('/partials/header.*') %>

  <main id="article-content">
    <div class="content">

      <%= render('/partials/wip.*') if @item[:wip] %>

      <%= yield %>

    </div>
  </main>

  <%= render('/partials/footer.*') %>

<% end %>
