<article property="schema:blogPost ctag:tagged" typeof="cc:Work schema:BlogPosting" resource="<%= url_for article %>#blogpost" class="noted section excerpt">
  <div class="bd">
    <header>

      <h2 class="bigger">
        <a property="schema:url" rel="bookmark" title="Full article" href="<%= url_for article %>">
          <span property="dc:title schema:name"><%= article[:title] %></span>
        </a>
      </h2>

      <p class="em">By <%= link_for_author( article[:author_name], "/authors/") %></p>
    </header>
    <%= article_summary article %>
  </div>
  <footer class="aside pubdate section">
    <time class="big" property="schema:dateCreated" datetime="<%= article[:created_at] %>"><%= date_for(article) %></time>
  </footer>
  <footer class="aside section">
    <nav class="group banner">
      <ul class="tags">
        <% tag_set(Array(article)).each do |tag| %>
        <li><%= link_for_tag(tag, "/tags/") %>&nbsp;</li>
        <% end %>
      </ul>
    </nav>
  </footer>
  <link property="schema:isPartOf" href="/blog/#blog" />
  <link property="rdfa:copy" href="#license" />
</article>
