<div class="excerpt clearfix">
  <article>

    <header>
      <h2 class="big">
        <%= link_to(article[:title], article.path, { :title => "Full article", :class => "permalink" }) %>
      </h2>

      <p>By <%= link_for_author( article[:author_name], "/authors/") %></p>

      <time class="big" pubdate><%= article[:created_at] %></time>
    </header>

    <%= article[:excerpt] %>

    <aside>
      <%= tags_for(article, { :separator => "", :base_url => "/tags/" }) %>
    </aside>

  </article>
</div>                                
