<article id="post">

  <h2><%= @item[:title] %></h2>

  <h3>Written <%= attribute_to_time(@item[:created_at]).strftime("%B %d, %Y") %> by <%= @item[:author_name] %></h3>

  <%= yield %>

</article>

<aside>
  <p><%= tags_for(@item, :separator => '') %></p>
  <small id="permalink">Permalink: <a href="<%= url_for(@item) %>"><%= url_for(@item) %></a></small>
</aside>

<div id="comments">
  <% if $add_livefyre_comments then %>
  <!-- START: Livefyre Embed -->
  <script type='text/javascript' src='http://www.livefyre.com/wjs/v1.0/javascripts/livefyre_init.js'></script>
  <script type='text/javascript'>
    var fyre = LF({
      site_id: 291113,
      version: '1.0'
    });
  </script>
  <!-- END: Livefyre Embed -->
  <% end %>
</div>
