// This file must be imported before loading html5-boilerplate

// default font-family
$icon-font-family: unquote('lifepreserver');

// Golden ratio
$phi: (1 + sqrt(5))/2;

//
// colors
//
$pentandra-red: #db1111;
$pentandra-brown: #544233;
$pentandra-white: #ffffff;
$pentandra-red-shaded: #bb3131;

// secondary colors
$pentandra-violet: #bca8fc;
$pentandra-yellow: #f9fc31;
$pentandra-cyan: #4edbfc;
$pentandra-lime: #8bfc4e;
$pentandra-mango: #fc804e;

$page-background: $pentandra-white; // #f8f6f4;
$footer-background: $pentandra-brown;
$footer-font-color: $pentandra-white;

$font-color: $pentandra-brown;

// link colors
$link-color: $pentandra-red;
$link-hover-color: $pentandra-red;
$link-active-color: $pentandra-red;
$link-visited-color: $pentandra-red;

// color for selected text
$selected-font-color: $pentandra-white;
$selected-background-color: $pentandra-red;

//
// Other common settings
//
$default-radius: 12px;

$pie-behavior: unquote('url(/css/PIE.htc)');
