<div class="group" typeof="schema:Corporation" resource="#company">
  <div class="section">

    <div class="group holder">
      <div class="teamintro">
        <h1 class="large">Meet the Team.</h1>

        <p class="big">

          We are small company of research addicts trying to promote quality
          research and make collaboration possible throughout the research
          process.

        </p>
      </div>

      <div class="theteam"></div>
    </div>

    <nav class="group rev ext">
      <div class="menu menu3 menu2">
        <ul class="group mod">
          <li>
            <div class="mod">
              <a class="em" href="#passionate">Passionate</a>
              <div>To the point of obsession</div>
            </div>
          </li>
          <li>
            <div class="mod">
              <a class="em" href="#quality">Quality over quantity</a>
              <div>Quality research or bust</div>
            </div>
          </li>
          <li class="last">
            <div class="mod">
              <a class="em" href="#smallandfocused">Small and focused</a>
              <div>We can move fast</div>
            </div>
          </li>
          <li>
            <div class="mod">
              <a class="em" href="#dogfood">Dogfood</a>
              <div>We eat our own</div>
            </div>
          </li>
          <li>
            <div class="mod">
              <a class="em" href="#committed">Committed</a>
              <div>We're here to stay</div>
            </div>
          </li>
          <li class="last">
            <div class="mod">
              <a class="em" href="#open">Open</a>
              <div>We can't do it alone</div>
            </div>
          </li>
        </ul>
      </div>
    </nav>

  </div>

  <section id="ourvalues" class="noted group">

    <h2>Our Values</h2>

    <section id="passionate" class="item bl section">

      <h3>Passionate</h3>

      <p>

        Some people call it <abbr title="Obsessive-Compulsive Disorder">OCD</abbr>;
        others call it passion. We love good research. We want to make it easier
        to do good research. We believe that software should work the way
        researchers work, not the other way around. That is what drives
        us---crazy.

      </p>

    </section>

    <section id="quality" class="item bl ock section">

      <h3>Quality Over Quantity</h3>

      <p>

        We figure that if you're going to spend the time to do research, you
        might as well do it right. We want to make it easier for you to do <%=
        link_to('good research', '/research/') %>. And after you've done a great
        job, we want to help you show it off. <i>(You know you want to.)</i>

      </p>

    </section>

    <section id="smallandfocused" class="item bl section">

      <h3>Small And Focused</h3>

      <p>

        We're small...and we like it that way. Being small helps us to move
        faster and be more responsive to the needs of our customers. It also
        helps us keep our expenses down. Even when we cross the divide from a
        struggling startup to a profitable company (hopefully sooner than later)
        we want to stay small and connected.

      </p>

    </section>

    <section id="dogfood" class="item bl ock section">

      <h3>We Eat Our Own Dogfood</h3>

      <p>

        Necessity is the mother of invention. At least it was for us. We're
        genealogy junkies and needed something that would help us keep track of
        our family history research. In our hunt, what we found was a surprising
        lack of software that really understood the research process (in
        genealogy or any other research field). So we decided to make it
        ourselves. We thought it would be selfish not to share it, so here we
        are!

      </p>

    </section>

    <section id="committed" class="item bl section">

      <h3>Committed</h3>

      <p>

        We are committed to making research easier. This is our primary
        objective. We also want to keep data open. To do this we are building on
        open standards. We are trying to accomplish something great. We are
        determined to see it through---for the long haul.

      </p>

    </section>

    <section id="open" class="item bl ock section">

      <h3>Open</h3>

      <p>

        Openness is all about collaboration. For us, this means open research,
        open source, and an open business model. We wouldn't be here without the
        open contributions from many in the technological and genealogical
        communities. We are happy to have a chance to
        <%= link_to "contribute back", "/open/" %>.
        We invite you to join with us to build something amazing together.

      </p>

    </section>
  </section>
  <section id="sec:mission" class="noted section">

    <h2>Our Mission</h2>

    <div class="bd">

      <p class="bigger"><%= @item[:mission] %></p>
      <p>
        
        We hope that the effect of our mission will be to help bring <a
          href="/open/#research" title="What is Open Research?">open
          research</a> into the mainstream, so that human, enterprise, and
        organizational <a href="http://en.wikipedia.org/wiki/Information_silo"
          rel="external">silos</a> will be opened and <a
          href="/research/#sec:collaboration">true research collaboration</a>
        will take place, making it easier for anyone to participate in the
        research process, seeking truth in a spirit of mutual cooperation,
        across disciplines, subjects, and skill levels, allowing knowledge to
        be shared with <a href="/research/#sec:clarity">clarity</a> and in <a
          href="/research/#sec:context">context</a>, so that the bringing
        together and organization of the knowledge of the world will be
        accelerated.

      </p>
    </div>
    <div class="aside">
      <div class="section img">
        <img property="schema:logo" class="retina" src="/images/logo.png" alt="Pentandra logo" />
      </div>
    </div>
    <div class="bd">

      <p>

        We have set out to achieve our mission through the following means:

      </p>
      <ul>

        <li>Developing open-source tools that preserve the history of knowledge
          creation and make open, transparent, real-time, collaborative,
          cross-discipline research possible.</li>

        <li>Promoting, creating, and implementing open standards that further
          open research and help transition research to the <a href="http://en.wikipedia.org/wiki/World_Wide_Web" title="World Wide Web on Wikipedia" rel="external">World Wide Web</a>.</li>

        <li>Helping researchers, organizations, and funding agencies discover
          and transition to policies and incentives that reward collaborative
          open research, providing consulting services and technical or moral
          support when needed.</li>

        <li>Educating interest groups, governments, and the general public
          about the short- and long-term benefits of open research, and
          supporting their efforts as they work to expand the influence of open
          research on the world.</li>
 
        <li>Lowering the barrier of entry for the common man and practitioners
          to participate meaningfully in high-quality research projects,
          throughout the entire research process.</li>

      </ul>
    </div>
  </section>
  <section class="noted group" id="structure">

    <h2>Our Structure</h2>

    <div class="section">
      <div class="bd">
        <p>

          <span class="newthought">We are a <a href="http://benefitcorp.net"
              rel="external">benefit corporation</a></span>, which basically
          means that we're legally required to create a material positive
          impact on society and the environment. We go beyond that minimum
          legal requirement by establishing a non-dividend stock policy and
          reinvesting <span class="oldstyle">100%</span> of our profits in ways
          that will promote open research, build up the community, improve our
          products and services, or in some other way entirely---whatever will
          further <a href="#sec:mission">our mission</a> the most and maximize
          our social impact in the world.

        </p>
        <ul>

          <li><a href="/blog/a-social-business/">Essay describing our initial
              debate between non-profit and for-profit <span class="oldstyle">(Oct
                2012)</span></a></li>

        </ul>
      </div>
      <!-- Remove after we have our first benefit report available ;)
      <div class="aside">
        <a class="section button" href="/company/reports/">Our <b>Benefit Reports</b></a>
      </div>
      -->
    </div>
    <% if @site.config[:accepting_donations] then %>
    <section id="donating" class="section">
      <div class="bd">
        <h3 class="flush">Donating</h3>
      </div>
      <div class="bd">
        <p>

          As we've started out, we've relied on <a href="/company/funding/">the
            generous contributions of many</a> to keep us going while we work
          to reach sustained profitability. Since we're a benefit corporation,
          these donations are not tax-deductible, but doesn't this, in fact,
          make them more <em>charitable?</em> If you like what <a
            href="#sec:mission">we're trying to do</a>, please consider
          donating.

        </p>
      </div>
      <div class="section aside">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="MP56WPL8KFLH8">
          <input type="submit" class="button" name="submit" value="Donate via PayPal">
        </form>
      </div>
    </section>
    <% end %>
    <section id="investing" class="section">
      <div class="bd">

        <h3 class="flush">Investing</h3>

        <p>

          If you're interested in investing, keep in mind that as a social
          business, our goal is not the fattening of shareholders' pocketbooks,
          but rather the expanding of the social good that we can do in the
          world. If you're still interested after that disclaimer, we'd love
          <a href="#contact">to chat</a>.

        </p>
        <figure class="bq grab">

          <blockquote>
            <p>

              A charity dollar has only one life; a Social Business dollar can be
              invested over and over again.

            </p>
          </blockquote>
          <figcaption>--- Muhammad Yunus</figcaption>

        </figure>
      </div>
    </section>
  </section>
  <section class="noted group" id="roster">

    <h2>Our Roster</h2>

    <section id="sec:coreteam" class="section" resource="#coreteam" typeof="foaf:Group">

      <h3 property="foaf:name">Core Team</h3>

      <% @item[:teammembers].select {|v| v[:member_of] == "Core Team" }.each_with_index do |member, i| %>
      <section resource="#<%= full_name(member).to_slug %>"
        property="foaf:member" typeof="schema:Person foaf:Person"
        id="sec:<%= full_name(member).to_slug %>"
        class="teammember vcard bl<%= i.odd? ? ' ock' : '' %> item">
        <span rev="schema:employee" resource="#company"></span>
        <link property="foaf:isPrimaryTopicOf" href="#sec:<%= full_name(member).to_slug %>" />
        <div class="group">
          <div class="section aside">
            <img property="foaf:img schema:image" class="photo framed" src="<%= member_image_path(member) %>" alt="Photo of <%= full_name(member) %>" />
            <aside class="nav menu rev">
              <ul class="sp framed icons">
                <% if member[:gplus] then %>
                <li>
                  <a class="url" title="<%= full_name(member) %> on Google+" href="https://plus.google.com/<%= member[:gplus] %>?prsrc=3">
                    <span aria-hidden="true" class="button icon-googleplus"></span>
                    <span class="visuallyhidden"><%= full_name(member) %> on Google+</span>
                  </a>
                </li>
                <% end %>
                <% if member[:twitter] then %>
                <li>
                  <a class="url" href="https://twitter.com/<%= member[:twitter] %>" title="Follow @<%= member[:twitter] %>">
                    <span aria-hidden="true" class="button icon-twitter"></span>
                    <span class="visuallyhidden">Follow @<%= member[:twitter] %></span>
                  </a>
                </li>
                <% end %>
                <% if member[:github] then %>
                <li>
                  <a class="url" href="https://github.com/<%= member[:github] %>" title="Check out <%= member[:first_name] %> on Github">
                    <span aria-hidden="true" class="button icon-github"></span>
                    <span class="visuallyhidden">Check out <%= member[:first_name] %> on Github</span>
                  </a>
                </li>
                <% end %>
                <li>
                  <a property="schema:email foaf:mbox" class="email" href="mailto:<%= member[:email] %>" title="mailto:<%= member[:email] %>">
                    <span aria-hidden="true" class="button icon-mail"></span>
                    <span class="visuallyhidden">Email <%= member[:first_name] %></span>
                  </a>
                </li>
              </ul>
            </aside>
          </div>
          <div class="bd group">
            <header>
              <h4 class="big fn flush" property="foaf:name schema:name"><%= full_name(member) %></h4>
              <p class="em small title flush" property="schema:jobTitle"><%= member[:title] %></p>
            </header>
            <link property="schema:worksFor" href="#company" />
            <p property="schema:description"><%= member[:summary] %></p>
          </div>
        </div>
      </section>
      <% end %>
    </section>
  </section>
  <footer id="contact" class="group ext grab">
    <div class="wrapper">
      <h2>Give Us A Holler!</h2>
      <div class="bd">
        <aside class="aside section">
          <h3 class="flush">Get Social</h3>
          <ul class="none">
            <li class="social-gp" ><a href="https://plus.google.com/+Pentandra" class="button">Pentandra on Google+</a></li>
            <li class="social-tw"><a href="https://twitter.com/intent/user?screen_name=<%= @item[:twitter] %>" class="button">Follow @<%= @item[:twitter] %></a></li>
            <li class="social-fb"><a href="http://www.facebook.com/PentandraInc" class="button">Pentandra on FB</a></li>
          </ul>
        </aside>
        <div class="inner group">
          <address class="vcard">
            <div property="schema:name schema:legalName" class="fn org"><a
                property="schema:url" href="<%= @site.config[:base_url] %>"
                ><%= @site.config[:vcard][:full_name] %></a></div>
            <div property="schema:location" typeof="schema:PostalAddress" class="adr">
              <div><span class="locality"
                  property="schema:addressLocality"><%= @site.config[:vcard][:locality] %></span>, <span
                  class="region"
                  property="schema:addressRegion"><%= @site.config[:vcard][:region] %></span></div>
              <div property="schema:addressCountry" class="country-name"><%= @site.config[:vcard][:country] %></div>
            </div>
            <div>Phone: <a property="schema:telephone" class="tel"
                href="tel:<%= @site.config[:vcard][:phone].gsub(/[\s\.-]+/, "") %>"><%= @site.config[:vcard][:phone] %></a></div>
            <div>Email: <a property="schema:email" href="mailto:<%= @site.config[:vcard][:email] %>"><%= @site.config[:vcard][:email] %></a></div>
          </address>
          <p>
             We support <a href="http://web.archive.org/web/20120615152553/http://www.ccpact.com/" rel="external">The Company--Customer Pact</a>.
          </p>
          <p>

            We are located in Logan, Utah, in the beautiful Cache Valley. We work
            from home. When we are not busy with the business, we are busy keeping
            track of our kids and their pet rocks. We love it---most of the time.

          </p>
        </div>
      </div>
      <figure class="aside section img" id="fig:vcard">
        <a href="<%= @item.path(:rep => :vcard) %>">
          <img src="<%= @item.path(:rep => :qrcode) %>?v=2" alt="Machine-readable QR code with embedded vCard" />
        </a>
        <figcaption class="small bold">Our vCard</figcaption>
      </figure>
    </div>
  </footer>
</div>
