---
title: Company
description: Who we are and what we stand for.
meta_description: >
  Pentandra is a small company of research addicts trying to promote quality
  research and make collaboration possible throughout the research process.
priority: 0.6
mission: >
  Pentandra's mission is to open up the knowledge of the world, so that light
  and understanding will be more accessible to everyone.
twitter: PentandraInc
teammembers:
  - first_name: Chris
    last_name: Chapman
    title: Co-founder and Super Coder
    email: chris@pentandra.com
    twitter: cd_chapman
    gplus: 102332274449851755462
    github: cdchapman
    phone_ext: 1000
    member_of: Core Team
    summary: >
      Chris loves to tackle difficult problems and dreams (literally) about
      making research easier. He is our systems thinker.
  - first_name: Katie
    last_name: Chapman
    title: Co-founder and Exception Thinker
    email: katie@pentandra.com
    twitter: KAMChapman
    gplus: 104975395018953249008
    phone_ext: 1001
    member_of: Core Team
    summary: >
      Katie loves to solve a good puzzle and thrives on the details. She is
      also our finance and tax geek and actually enjoys it.
---
<div property="foaf:primaryTopic" class="group" prefix="essglobalst: http://purl.org/essglobal/standard/ fea: http://vocab.data.gov/def/fea#" typeof="foaf:Organization essglobal:SSEInitiative fea:Company schema:Corporation" resource="#company">
  <div class="section">

    <div class="group holder">
      <div class="teamintro">
        <h1 class="large">Meet the Team.</h1>

        <p class="big" property="schema:description fea:description">

          We are small company of research addicts trying to promote quality
          research and make collaboration possible throughout the research
          process.

        </p>
      </div>

      <div class="theteam"></div>
    </div>

    <nav class="group rev ext">
      <div class="menu menu3 menu2">
        <ul class="group mod">
          <li>
            <div class="mod">
              <a class="em" href="#passionate">Passionate</a>
              <div>To the point of obsession</div>
            </div>
          </li>
          <li>
            <div class="mod">
              <a class="em" href="#quality">Quality over quantity</a>
              <div>Quality research or bust</div>
            </div>
          </li>
          <li class="last">
            <div class="mod">
              <a class="em" href="#smallandfocused">Small and focused</a>
              <div>We can move fast</div>
            </div>
          </li>
          <li>
            <div class="mod">
              <a class="em" href="#dogfood">Dogfood</a>
              <div>We eat our own</div>
            </div>
          </li>
          <li>
            <div class="mod">
              <a class="em" href="#committed">Committed</a>
              <div>We're here to stay</div>
            </div>
          </li>
          <li class="last">
            <div class="mod">
              <a class="em" href="#open">Open</a>
              <div>We can't do it alone</div>
            </div>
          </li>
        </ul>
      </div>
    </nav>

  </div>

  <section id="ourvalues" class="noted group">

    <h2>Our Values</h2>

    <section id="passionate" class="item bl section">

      <h3>Passionate</h3>

      <p>

        Some people call it <abbr title="Obsessive-Compulsive Disorder">OCD</abbr>;
        others call it passion. We love good research. We want to make it easier
        to do good research. We believe that software should work the way
        researchers work, not the other way around. That is what drives
        us---crazy.

      </p>

    </section>

    <section id="quality" class="item bl ock section">

      <h3>Quality Over Quantity</h3>

      <p>

        We figure that if you're going to spend the time to do research, you
        might as well do it right. We want to make it easier for you to do <%=
        link_to('good research', '/research/') %>. And after you've done a great
        job, we want to help you show it off. <i>(You know you want to.)</i>

      </p>

    </section>

    <section id="smallandfocused" class="item bl section">

      <h3>Small And Focused</h3>

      <p>

        We're small...and we like it that way. Being small helps us to move
        faster and be more responsive to the needs of our customers. It also
        helps us keep our expenses down. Even when we cross the divide from a
        struggling startup to a profitable company (hopefully sooner than later)
        we want to stay small and connected.

      </p>

    </section>

    <section id="dogfood" class="item bl ock section">

      <h3>We Eat Our Own Dogfood</h3>

      <p>

        Necessity is the mother of invention. At least it was for us. We're
        genealogy junkies and needed something that would help us keep track of
        our family history research. In our hunt, what we found was a surprising
        lack of software that really understood the research process (in
        genealogy or any other research field). So we decided to make it
        ourselves. We thought it would be selfish not to share it, so here we
        are!

      </p>

    </section>

    <section id="committed" class="item bl section">

      <h3>Committed</h3>

      <p>

        We are committed to making research easier. This is our primary
        objective. We also want to keep data open. To do this we are building on
        open standards. We are trying to accomplish something great. We are
        determined to see it through---for the long haul.

      </p>

    </section>

    <section id="open" class="item bl ock section">

      <h3>Open</h3>

      <p>

        Openness is all about collaboration. For us, this means open research,
        open source, and an open business model. We wouldn't be here without the
        open contributions from many in the technology and research
        communities. We are happy to have a chance to
        <%= link_to "contribute back", "/open/" %>.
        We invite you to join with us to build something amazing together.

      </p>

    </section>
  </section>
  <section id="sec:mission" class="noted section">

    <h2>Our Mission</h2>

    <div class="bd" property="essglobal:mission">

      <p class="bigger" resource="#mission" property="fea:hasIntent" typeof="fea:Mission"><span property="fea:description"><%= @item[:mission] %></span></p>
      <p>
        
        We hope that the effect of our mission will be to help bring <a
          href="/open/#research" title="Pentandra → Open Research">open
          research</a> into the mainstream, so that human, enterprise, and
        organizational <a href="/blog/opening-knowledge/"
          title="Pentandra → Opening Knowledge">silos will be opened</a> and <a
          href="/research/#sec:collaboration"
          title="Pentandra → The Future of Research → Collaboration"
          >true research collaboration</a> will take
        place, making it easier for anyone to participate in the research
        process, seeking truth in a spirit of mutual cooperation, across
        disciplines, subjects, and skill levels, allowing knowledge to be
        shared with <a href="/research/#sec:clarity"
          title="Pentandra → The Future of Research → Clarity">clarity</a> and in <a
          href="/research/#sec:context"
          title="Pentandra → The Future of Research → Context">context</a>,
        so that the bringing together and organization of the knowledge of the
        world will be accelerated.

      </p>
    </div>
    <div class="aside">
      <div class="section img">
        <img property="schema:logo" class="retina" src="/images/logo.png" alt="Pentandra logo" />
      </div>
    </div>
    <div class="bd">

      <p>

        We have set out to achieve our mission through the following means:

      </p>
      <ul>

        <li property="essglobal:objective">Developing open-source tools that
          preserve the history of knowledge creation and make open,
          transparent, real-time, collaborative, cross-discipline research
          possible.</li>

        <li property="essglobal:objective">Promoting, creating, and
          implementing open standards that further open research and help
          transition research to the <a
            href="http://en.wikipedia.org/wiki/World_Wide_Web" title="World
            Wide Web on Wikipedia">World Wide Web</a>.</li>

        <li property="essglobal:objective">Helping researchers, organizations,
          and funding agencies discover and transition to policies and
          incentives that reward collaborative open research, providing
          consulting services and technical or moral support when needed.</li>

        <li property="essglobal:objective">Educating interest groups,
          governments, and the general public about the short- and long-term
          benefits of open research, and supporting their efforts as they work
          to expand the influence of open research on the world.</li>
 
        <li property="essglobal:objective">Lowering the barrier of entry for
          the common man and practitioners to participate meaningfully in
          high-quality research projects, throughout the entire research
          process.</li>

      </ul>
    </div>
  </section>
  <section class="noted group" id="sec:socialbusiness">

    <h2>A Social Business</h2>

    <link property="essglobal:legalForm" resource="essglobalst:legal-form/#L5" />
    <link property="essglobal:qualifier" resource="essglobalst:qualifiers/#FreeKnowledgeorSoftware" />
    <link property="essglobal:economicSector" resource="essglobalst:activities/#a10" />
    <link property="essglobal:economicSector" resource="essglobalst:activities/#a13" />
    <link property="essglobal:economicSector" resource="essglobalst:activities/#a16" />
    <div class="section">
      <div class="bd">
        <p>

          We <a href="/blog/a-social-business/"
            title="Pentandra → A Social Business">looked at a
            lot of business structures</a> and found that
          social business was the best fit for what we are trying to achieve.
          What's a social business, you say? A <dfn
            id="def:socialbusiness">social business</dfn> uses business
          practices and methods as tools to tackle difficult problems of
          society. It's a very new idea, so you could say we're pioneering it.

        </p>
      </div>
      <!-- Remove after we have our first benefit report available ;)
      <div class="aside">
        <a class="section button" href="/company/reports/">Our <b>Benefit Reports</b></a>
      </div>
      -->
    </div>
    <section id="socialproblems" class="section">
      <div class="bd">

        <h3 class="flush">Social Problems</h3>

        <p>
          
          <em>So what's the problem with research?</em> Research has been
          published the same way for so long, and public support for research
          so entrenched in our society that you may think that everything's <a
            href="https://en.wiktionary.org/wiki/hunky_dory" title="Hunky dory
            on Wiktionary">hunky dory</a>. While we share some of the problems
          with research in <a href="/research/#sec:future" title="Pentandra →
            The Future of Research">The Future of Research: A Manifesto</a>,
          here are a few that we are focusing on as a company right now, that
          affect nearly everyone in the world:

        </p>

        <ul class="none">

          <li>
            <dl>
              <dt>Results from scholarly research are inaccessible to most people.</dt>
              <dd>Research articles are often stuck behind paywalls, and even when they're not, the results are hard to find and are often written in language that is hard for most people to understand.</dd>
            </dl>
          </li>

          <li>
            <dl>
              <dt>Relatively few people are working on solutions which could improve the lives of many.</dt>
              <dd>We need to open up the knowledge creation process so that the whole world can get involved in making the world a better place.</dd>
            </dl>
          </li>

          <li>
            <dl>
              <dt>In our consumer-focused societies, quick-fix solutions are often prioritized over deeper understanding.</dt>
              <dd>There's a big need for more people to research and think critically---to ask more questions, and then to share what they have learned in an open, easy way.</dd>
            </dl>
          </li>

          <li>
            <dl>
              <dt>Knowledge is often stuck and doesn't transcend the boundaries of its mother field.</dt>
              <dd>The doors of communication between fields of knowledge need to be opened so that we can learn from each other.</dd>
            </dl>
          </li>

          <li>
            <dl>
              <dt>There is too much dependence in the research community on grants.</dt>
              <dd>Often, research doesn't happen anymore unless there's a grant for it! New marketplaces for research need to be opened and opportunities created. All types of researchers should feel free to follow their passion and contribute meaningfully to the knowledge of the world, in whichever way they see fit.</dd>
            </dl>
          </li>
        
        </ul>

      </div>
    </section>
    <section id="investing" class="section">
      <div class="bd">

        <h3 class="flush">Investing</h3>

        <p>

          If you're interested in investing, keep in mind that as a social
          business, dividends come in the form of social benefits to the world,
          not personal financial gain. If you're still interested after that
          disclaimer, feel free to <a href="#sec:contact">contact us</a>.

        </p>
      </div>
    </section>
    <section id="donating" class="section" property="schema:potentialAction" resource="#donate" typeof="schema:DonateAction">
      <link property="schema:recipient" href="#company" />
      <div class="bd">
        <h3 class="flush" property="schema:name">Donating</h3>
      </div>
      <div class="bd" property="schema:description">
        <p>

          If you like what <a href="#sec:mission">we're doing</a>, but are not
          interested in the technicalities of investing, please consider
          donating. As we've started out, we've relied on <a
            href="/company/funders/">the generous contributions of many</a> to
          keep us going while we work to reach sustained profitability.

        </p>
      </div>
      <div class="section aside">
        <a class="button" property="schema:target" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=MP56WPL8KFLH8">Donate via <b>PayPal</b></a>
      </div>
    </section>
  </section>
  <section class="noted group" id="sec:roster">

    <h2>Our Roster</h2>

    <section id="sec:coreteam" class="section" resource="#coreteam" typeof="foaf:Group">

      <h3 property="foaf:name">Core Team</h3>

      <% @item[:teammembers].select {|v| v[:member_of] == "Core Team" }.each_with_index do |member, i| %>
      <section resource="#<%= full_name(member).to_slug %>"
        property="foaf:member" typeof="schema:Person foaf:Person"
        id="sec:<%= full_name(member).to_slug %>"
        class="teammember vcard bl<%= i.odd? ? ' ock' : '' %> item">
        <span rev="schema:employee" resource="#company"></span>
        <link property="foaf:isPrimaryTopicOf" href="#sec:<%= full_name(member).to_slug %>" />
        <div class="group">
          <div class="section aside">
            <img property="foaf:img schema:image" class="photo framed" src="<%= member_image_path(member) %>" alt="Photo of <%= full_name(member) %>" />
            <aside class="nav menu rev">
              <ul class="sp framed icons">
                <% if member[:gplus] then %>
                <li>
                  <a class="url" title="<%= full_name(member) %> on Google+" href="https://plus.google.com/<%= member[:gplus] %>?prsrc=3">
                    <span aria-hidden="true" class="button icon-googleplus"></span>
                    <span class="visuallyhidden"><%= full_name(member) %> on Google+</span>
                  </a>
                </li>
                <% end %>
                <% if member[:twitter] then %>
                <li>
                  <a class="url" href="https://twitter.com/<%= member[:twitter] %>" title="Follow @<%= member[:twitter] %>">
                    <span aria-hidden="true" class="button icon-twitter"></span>
                    <span class="visuallyhidden">Follow @<%= member[:twitter] %></span>
                  </a>
                </li>
                <% end %>
                <% if member[:github] then %>
                <li>
                  <a class="url" href="https://github.com/<%= member[:github] %>" title="Check out <%= member[:first_name] %> on Github">
                    <span aria-hidden="true" class="button icon-github"></span>
                    <span class="visuallyhidden">Check out <%= member[:first_name] %> on Github</span>
                  </a>
                </li>
                <% end %>
                <li>
                  <a property="schema:email foaf:mbox" class="email" href="mailto:<%= member[:email] %>" title="mailto:<%= member[:email] %>">
                    <span aria-hidden="true" class="button icon-mail"></span>
                    <span class="visuallyhidden">Email <%= member[:first_name] %></span>
                  </a>
                </li>
              </ul>
            </aside>
          </div>
          <div class="bd group">
            <header>
              <h4 class="big fn flush" property="foaf:name schema:name"><%= full_name(member) %></h4>
              <p class="em small title flush" property="schema:jobTitle"><%= member[:title] %></p>
            </header>
            <link property="schema:worksFor" href="#company" />
            <p property="schema:description"><%= member[:summary] %></p>
          </div>
        </div>
      </section>
      <% end %>
    </section>
  </section>
  <footer id="sec:contact" class="group ext grab" resource="#contact" typeof="schema:ContactPage">
    <div class="wrapper" about="#company">
      <h2>Give Us A Holler!</h2>
      <div class="bd">
        <aside class="aside section">
          <h3 class="flush">Get Social</h3>
          <ul class="none">
            <li class="social-gp" ><a href="https://plus.google.com/+Pentandra" class="button">Pentandra on Google+</a></li>
            <li class="social-tw"><a href="https://twitter.com/intent/user?screen_name=<%= @item[:twitter] %>" class="button">Follow @<%= @item[:twitter] %></a></li>
            <li class="social-fb"><a href="http://www.facebook.com/PentandraInc" class="button">Pentandra on FB</a></li>
          </ul>
        </aside>
        <div class="inner group">
          <address class="vcard">
            <div property="schema:name schema:legalName" class="fn org"><a
                property="schema:url foaf:homepage" href="<%= @config[:base_url] %>"
                ><%= @config[:vcard][:full_name] %></a></div>
            <div property="schema:location" typeof="schema:PostalAddress" class="adr">
              <div><span class="locality"
                  property="schema:addressLocality"><%= @config[:vcard][:locality] %></span>, <span
                  class="region"
                  property="schema:addressRegion"><%= @config[:vcard][:region] %></span></div>
              <div property="schema:addressCountry" class="country-name"><%= @config[:vcard][:country] %></div>
            </div>
            <div>Phone: <a property="schema:telephone" class="tel"
                href="tel:<%= @config[:vcard][:phone].gsub(/[\s\.-]+/, "") %>"><%= @config[:vcard][:phone] %></a></div>
            <div>Email: <a property="schema:email" href="mailto:<%= @config[:vcard][:email] %>"><%= @config[:vcard][:email] %></a></div>
          </address>
          <p>
             We support <a href="http://web.archive.org/web/20120615152553/http://www.ccpact.com/">The Company--Customer Pact</a>.
          </p>
          <p>

            We are located in Logan, Utah, in the beautiful Cache Valley. We work
            from home. When we are not busy with the business, we are busy keeping
            track of our kids and their pet rocks. We love it---most of the time.

          </p>
        </div>
      </div>
      <figure class="aside section img" id="fig:vcard">
        <a href="<%= @item.path(:rep => :vcard) %>">
          <img src="<%= @item.path(:rep => :qrcode) %>?v=2" alt="Machine-readable QR code with embedded vCard" />
        </a>
        <figcaption class="small bold">Our vCard</figcaption>
      </figure>
    </div>
  </footer>
</div>
