@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

/* Default Layout: 992px.
 * Gutters: 24px.
 * Outer margins: 48px.
 * Leftover space for scrollbars @1024px: 32px. 
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

$less-outer-margin: 48px;

#{$less-grid-element} {
  @include grid(10); 
  padding: 0 $less-outer-margin;
}

a.button {
  
  margin-top: 6px;
  background-color: $pentandra-brown;
  font-size: 17px;
  height: $grid-height;
  line-height: $grid-height;
  text-align: center;
  color: $pentandra-white;
  display: block;
  cursor: pointer;
  @include grid(3);
  @include border-radius(12px, 12px);
  
  em {
    font-weight: bold;
    font-style: normal;
  }

  &:hover {
    background-color: #6e5643;
    text-decoration: none;
  }

  &:focus {
    background-color: $pentandra-red;
  }

  &:visited {
    color: $pentandra-white;
  }
}

a[rel~="tag"] {
  color: white;
  @extend .small;
  background-color: $pentandra-brown;
  padding: 3px 7px;
  @include border-radius(6px, 6px);
  margin-right: 8px;

  &:hover {
    text-decoration: none;
  }
}

header[role="banner"] {

//  position: fixed;
  position: absolute;
  z-index: 999; 
  height: $grid-height*3 - 33px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $pentandra-white;
//  @include box-shadow($pentandra-brown 0 0 4px);
  border-bottom: 33px solid $pentandra-brown;

  h1 {
    position: absolute;
  }

  h1 a { 
    background: transparent url('/images/pentandra-logo.png') no-repeat center center;
    @include grid(3);
    height: 34px;
    margin-top: $grid-height;
  }

  nav {
    float: right;
    margin-top: 61px;

    li {
      float: left;

      a {
        color: $pentandra-brown;
        padding: 7px 15px;
      
        &:hover, &:focus {
          background-color: $pentandra-red;
          @include border-radius(12px, 12px);
          color: $pentandra-white !important;
          text-decoration: none;
        }

        &:visited {
          color: $pentandra-brown;
        }
      }
    }
  }
}

#main {

  @extend .clearfix;
  margin-top: $grid-height * 3;

  section {
    @extend .clearfix;
    margin: $grid-height 0 $grid-height/2;
    border-top: 1px solid $pentandra-brown;

    &:first-child {
      border-top: 0 none;
    }

    p {
      float: right;
      @include grid(7);
      margin-top: -6px;
    }

    h2 {
      text-transform: uppercase;
    }

    section {
      border-top: none;
    }
  }
}

section#zeugma {
  position: relative;
  padding-top: $grid-height;

  p {
    font-style: italic;
    font-size: 22px;
    margin: 11px 0;
  }

  h2 {
    color: $pentandra-red;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
  }

  h2, p {
    @include grid(3); 
    padding: 0;
    margin-left: ($less-column-width + $less-gutter-width)*7;
  }
  
  div#mosaic {
    @include grid(6);
    background: transparent url('/images/zeugma.jpg') no-repeat scroll left top;
    height: 412px;
    position: absolute;
    top: $grid-height;
    left: 0;
  }
}

section#researchexperience {

  section {
    @extend .clearfix;
    height: $grid-height*2;
    margin-bottom: $grid-height;

    h4 {
      float: left;
      @include grid(3);
      text-align: right;
      text-transform: uppercase;
      margin: 0;
    }

    p {
      float: left;
      @include grid(4);
      margin: 0 $less-gutter-width 0;
    }

  }

  div {
    float: left;
    @include grid(3);
    height: $grid-height*2;
    margin: 5px 0 $less-gutter-width;
  }

  div#clarity {
    background: transparent url('/images/clarity.jpg') no-repeat scroll left top;
  }

  div#context {
    background: transparent url('/images/context.jpg') no-repeat scroll left top;
  }

  div#collaboration {
    background: transparent url('/images/collaboration.jpg') no-repeat scroll left top;
    height: 120px;
    margin-top: -10px;
  }
}

div#geunglelogo {
    background: transparent url('/images/geungle-logo.png') no-repeat scroll center top;
    @include grid(7);
    height: 186px;
    margin: 0 0 60px 252px + $less-gutter-width;
}

section#company {

  dt {
    font-weight: bold;
  }

  dt, dd {
    @include grid(3);
  }
  
  div#summary {
    @include grid(6);

    h2 {
      letter-spacing: -2px;
      text-transform: uppercase;
    }
      
  }

  div#team {
    @include grid(4);
    float: right;
  }
}

//
// Blog styling
//

article.excerpt {

  h3 {
    @include grid(7);
    float: right;

    a {
      color: $pentandra-brown;
    }
  }

  div.details {
    @include grid(3);
    float: left;
  }

}

article.post {
  margin: $grid-height 0 $grid-height/2;
  @include grid(7);
  float: right;

  h3 {
    @extend .small;
    text-transform: uppercase;
  }

  &:p:last-child:after {
    content: "\25C2";
    padding-left: 10px;
    position: relative;

  //    Show the logo as the endmark - doesn't look very sharp.
  //    float: right;
  //    height: 16px;
  //    width: 16px;
  //    background: transparent url('/images/endmark.png') no-repeat bottom left;
  //    position: relative;
  //    content: "\0020";
  }
}

aside.postmeta {
  @include grid(3);
  float: left;
}

aside.blogmeta {
  @extend .clearfix;
  margin: $grid-height 0;
  border-top: 3px solid $pentandra-brown;

  nav {
    float: right;
    @include grid(3);
    margin-left: $less-gutter-width;
  }

  nav.tags {
    @include grid(4);
    
    a {
      padding: 2px 5px;
      font-size: 12px;
      margin-right: 4px;
    }
  }

  nav.archives {
    margin-left: 0;
  }
}

nav.tags {
  li {
    float: left;
  }
}

//
// Footer
//

footer[role="contentinfo"] {

  background: $footer-background;
  color: $footer-font-color;
  position: absolute;
  width: 100%;
  left: 0;

  a {
    color: $pentandra-white;

    &:hover {
      text-decoration: none;
    }
  }

  aside, small {
    float: right;
  }

  aside {
    margin: 0 0 $grid-height $less-gutter-width;
  }

  div.content {
    background-color: inherit;
    padding: 33px 48px 84px;
    @extend .clearfix;
  }

  small#footerlogo {
    background: transparent url('/images/pentandra-logo-reverse.png') no-repeat scroll left top;
    cursor: pointer;
    padding: 67px 0 0 0;
    @include grid(3);
  }

  aside#recentthoughts {
    @include grid(5);

    h5 {
      margin: 0;
    }

    article.excerpt {
      @extend .clearfix;
      margin: 5px 0;
      time {
        float: left;
      }

      h5 {
        @include grid(4);
        float: right;
        line-height: 24px;
      }
    }
  }

  aside#feelingsocial {
    @include grid(2);

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      float: left;
      height: 24px;
    }

    a {
      margin-right: 22px;
    }

    .fb {
      background: transparent url('/images/fb.png') no-repeat center center;
      width: 11px;
    }

    .twitter {
      background: transparent url('/images/twitter.png') no-repeat center center;
      width: 35px;
    }

    .email {
      background: transparent url('/images/email.png') no-repeat top center;
      width: 24px;
    }

    .rss {
      background: transparent url('/images/rss.png') no-repeat center center;
      width: 24px;
      margin: 0;
    }
  }
}
