@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

/* Default Layout: 992px.
 * Gutters: 24px.
 * Outer margins: 48px.
 * Leftover space for scrollbars @1024px: 32px. 
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

$less-outer-margin: 48px;

#{$less-grid-element} {
  @include grid(10, true); 
  padding: 0 $less-outer-margin;
}

header[role="banner"] {

}

#main {
  aside {
    margin: 96px 0;

    a {
      margin-right: 24px;
    }
  }
}

div#pentandra-logo {
  @include grid(7);
  height: 620px;
  background: transparent url('/images/pentandra-logo-620x620.png') no-repeat left top scroll;
}

footer[role="contentinfo"] {
  @include grid(10, true);
  margin: 0 auto;
}
