// Global style definitions

h1 {
  @extend .huge; 
  margin: 0;
}

h2 {
  @extend .large; 
  font-weight: normal;
  margin: 0;
  padding: 24px 0;
}

h3 {
  @extend .bigger;
  font-weight: normal;
}

h4 {
  @extend .big; 
  font-weight: normal;
}

h5 {
  margin: 0 0 6px;
  text-transform: uppercase;
  @extend .small;
}

small {
  @extend .small; }

body {
  font-family: $base-font-family,sans-serif;
  background: $page-background;
  color: $font-color;
}

a {

  &:hover {
    text-decoration: underline;
  }

}

// Selection colors (easy to forget)
// @include selection-color(unquote("rgb(255,255,158)"));

#{$less-grid-element} {
  background: $content-background;
  margin: 0 auto;
}

