/* Mobile Layout: 320px.
 * Gutters: 24px.
 * Outer margins: 34px.
 * Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

$less-outer-margin: 34px;

@media only screen and (max-width: 767px) {

  #{$less-grid-element} {
    @include grid(3); 
  } 

  h1 {
    font-size: 29px;
    line-height: 36px;
    letter-spacing: 0;
  }
    
  div#pentandra-logo {
    @include grid(3, false);
    height: 252px;
    background-image: url('/images/pentandra-logo-252x252.png');
  }
}
