---
title: Research Cases
description: Research cases is research reinvented for the future.
kind: project
wip: true
---
<div class="group">
  <h1><%= @item[:title] %></h1>
  <div class="bd big">
    <p>

      Research cases is not just an ontology or a set of technical standards,
      but a different philosophy for research: one that is designed to bring
      back the camaraderie and collaboration of bygone eras coupled with the
      potential of machine-based interactions and opportunities.

    </p>
    <p>

      Research cases mark a fundamental shift in research thinking---a step
      away from traditional academic workflows to a world where anyone can
      participate in the process of research, at any point in the process.

    </p>
  </div>
    
</div>
<section id="building-blocks" class="noted section">
  <h2>Building blocks</h2>


  <section id="research-intent-ontology" class="section">

    <div class="bd">

      <h3 class="flush">Research Intent Ontology</h3>

      <p>
        
        The <%=
        link_to_id('/static/solutions/specifications/research-intent-ontology/index.*')
        %> is a machine vocabulary to partition research conceptually into
        cases, each case organized around a question. By explicitly capturing
        context, this approach enables iterative, real-time research and
        encourages open collaboration and inquiry throughout the research
        process.
      
      </p>


    </div>

  </section>
  <section id="dynamic-machine-interfaces" class="section">

    <div class="bd">

      <h3 class="flush">Dynamic Machine Interfaces</h3>

      <p>

        We need ways for intelligent clients to uniformly and somewhat
        autonomously interact with servers, and we call these ways <dfn
          id="dynamic-machine-interfaces">dynamic machine interfaces</dfn>, to
        differentiate them from traditional <i
          id="application-programming-interfaces">application programming
          interfaces</i>. DMIs use linked data and logical reasoning to
        function in the <a
          href="https://en.wikipedia.org/wiki/Representational_state_transfer">REST</a>
        architectural style and enable dynamic machine interactions. We see the
        future of the Web made of clients that are more intelligent than the
        servers with which they interact, and where dynamic workflows take the
        place of manual rigamarole. 

      </p>

    </div>
  </section>
  <section id="cryptographic-ledgers" class="section">

    <div class="bd">

      <h3 class="flush">Cryptographic Journals</h3>

    </div>
  </section>
  <section id="dependency-management" class="section">

    <div class="bd">

      <h3 class="flush">Dependency management</h3>

    </div>
  </section>

</section>
